$black: black;
$grey: #374041;
$light-grey: #F5F5F5;
$white: white;

$light-blue: #93C5FD;
$dark-blue: #1D4ED8;
$neutral200: #E5E5E5;
$neutral700:#404040;

$color-neutral-light: $white;
$color-neutral-dark: $black;
$color-toned-light: $light-grey;
$color-toned-dark: $grey;
$color-vivid-light: $light-blue;
$color-vivid-dark: $dark-blue;

$hover-mask-color: rgba(255,255, 255, 0.25);
$hover-background: rgba(200,200,200);

// pierwsze 6 elementów do usunięcia, bo to nie są kolory. Trzeba też zmienić odwołania do tych kolorów w pozostałych plikach.

$palette: (
    'menu': (
        'value': $black,
        'lightness': 'dark' 
    ),
    'footer': (
        'value': $black,
        'lightness': 'dark' 
    ),
    'neutral200': (
        'value': $neutral200,
        'lightness': 'light'
    ),
    'neutral700': (
        'value': $neutral700,
        'lightness': 'dark'
    ),
    'light': (
        'value': $white,
        'lightness': 'light'
    ),
    'dark': (
        'value': $grey,
        'lightness': 'dark'
    ),
    'black': (
        'value': $black,
        'lightness': 'dark'
    ),
    'white': (
        'value': $white,
        'lightness': 'light'
    ),
    'light-blue': (
        'value': $light-blue,
        'lightness': 'light'
    ),
    'grey': (
        'value': $grey,
        'lightness': 'dark'
    ),
    'light-grey': (
        'value': $light-grey,
        'lightness': 'light'
    ),
    'dark-blue': (
        'value': $dark-blue,
        'lightness': 'dark'
    ),
);