@use 'sass:math';

$global-unit: 24px;
$global-unit-mobile: 12px;
$small-unit: math.div($global-unit, 2);

$hover-transition-duration: 0.3s;
$menu-burger-transition-duration: 0.3s;

$menu-popup-z-index: 100;
$main-grid-max-width: 1608px;

$small-mobile-breakpoint: 370px;
$mobile-breakpoint: 900px;
$small-desktop-breakpoint: 1200px;

$designer-screen-width: 1400px;

$wide-screen-breakpoint: 1600px;
$ultra-wide-screen-breakpoint: 2400px;

$main-grid-gap-gu: 1;
$main-grid-gap-gu-mobile: 1;
$main-grid-margin-gu: 2;
$main-grid-margin-gu-mobile: 2;

$main-grid-max-width: $wide-screen-breakpoint - 2 * $main-grid-margin-gu * $global-unit;


$data-consent-box-width: 431px;

$border-radius: 6px;
$buttons-text-stroke: 0.04em;
$lazy-loading-image-bg: $color-neutral-dark;

@function autocalculate-small-desktop($wide-screen-scale, $designer-screen-width, $small-desktop-breakpoint, $wide-screen-breakpoint) {
    $wide-screen-distance: $wide-screen-breakpoint - $designer-screen-width;
    $small-screen-distance: $designer-screen-width - $small-desktop-breakpoint;
    $wide-screen-scale-distance: $wide-screen-scale - 1;
    $slope: math.div($wide-screen-scale-distance, $wide-screen-distance);
    @return 1 - $small-screen-distance * $slope;
}

$title-font-small-mobile-scale: 0.75;
// $title-font-small-desktop-scale: 0.9;
$title-font-wide-screen-scale: 1.1;
$title-font-small-desktop-scale: autocalculate-small-desktop($title-font-wide-screen-scale, $designer-screen-width, $small-desktop-breakpoint, $wide-screen-breakpoint);


$box-title-font-small-mobile-scale: 0.65;
$box-title-font-mobile-scale: 1;
$box-title-font-above-mobile-scale: 0.65;
// $box-title-font-small-desktop-scale: 0.9;
$box-title-font-wide-screen-scale: 1.1;
$box-title-font-small-desktop-scale: autocalculate-small-desktop($box-title-font-wide-screen-scale, $designer-screen-width, $small-desktop-breakpoint, $wide-screen-breakpoint);

