@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Condensed:wght@400;700&display=swap');

$font-family-sans: 'DM Sans', sans-serif;
$font-family-sans-italic: 'DM Sans', sans-serif;
$font-family-title: 'Roboto Condensed', sans-serif;