.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: $black;
}
.bg-white {
    background-color: $white;
}
.bg-grey {
    background-color: $grey;
}
.bg-light-grey {
    background-color: $light-grey;
}
.bg-light-blue {
    background-color: $light-blue;
}
.bg-dark-blue  {
    background-color: $dark-blue;
}
.bg-neutral200  {
    background-color: $neutral200;
}
.bg-neutral700  {
    background-color: $neutral700;
}
.bg-menu  {
    background-color: $black;
}
.bg-footer  {
    background-color: $black;
}