
@each $key,$col in $palette {
    .bg-#{$key} {
        background-color: #{map-get($col, 'value')}
    }
}

@include element-on-bg($bg-type: 'dark') {
    color: $color-neutral-light;
    @include antialiasing($color-neutral-light)
}
@include element-on-bg($bg-type: 'light') {
    color: $color-neutral-dark;
}