html {
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    // overflow-y: hidden;
    position: relative;
    display: block;
    font-variant: common-ligatures;
    &.scroll-unlocked {
        height: 100%;
        overflow-y: auto;
    }
    @include text-body;
    @include antialiasing($color-neutral-dark);
    background-color: $color-neutral-light;
    color: $color-neutral-dark;
    overscroll-behavior-y: none;
}
.screen-reader-only {
    @include screenReaderOnly;

    &.skip-link {
        display: block;
        top: global-unit();
        width: fit-content;
        height: 4.2em !important;
        padding: 1.35em;
        margin: auto;
        line-height: 1.5em;
        background-color: $color-neutral-light;
        color: $color-neutral-dark;
        border: none;
        border-radius: 999px;
        z-index: 9999;
    
        &:focus {
            left: global-unit();
        }
    }
}
