.img-container,
.img-background {
    background-color: $lazy-loading-image-bg;
    line-height: 0;
    
}

.lazy-img  {
    opacity: 0;
    height: 100%;
    transition: opacity 0.2s;
    transition-delay: 0;
    &.loaded {
        opacity: 1;
    }
}
.lazy-loading-intersection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    pointer-events: none;
}