.big-link__tagline {
    // @include header-text;
}
h1, .page-title {
    @include text-page-title;
}
h2, .heading {
    @include text-section-title;
}
h3, .subheading  {
    @include text-subtitle;
}
.lead {
    @include text-lead;
}
blockquote, .quote {
    // @include quote-text;
}
figcaption, .image-caption {
    // @include caption-text;
}
p {
    // @include body-text;
}
b, strong {
    font-weight: 700;
}
i, em {
    font-style: italic;
}


.text-body {
    @include text-body;
}
.text-page-title {
    @include text-page-title;
}
.text-section-title {
    @include text-section-title;
}
.text-subtitle {
    @include text-subtitle;
}
.text-header {
    @include text-header;
}
.text-lead {
    @include text-lead;
}
.text-highlight {
    @include text-highlight;
}
.text-caption {
    @include text-caption;
}
.text-microcopy {
    @include text-microcopy;
}
.text-link {
    @include text-link;
}
.text-big-link-title {
    @include text-big-link-title;
}
.text-card-title {
    @include text-card-title;
}
.text-card-body {
    @include text-card-body;
}
.text-box-body {
    @include text-box-body;
}
.text-box-title {
    @include text-box-title;
}
.text-menu {
    @include text-menu;
}
.text-submenu {
    @include text-submenu;
}
.text-hero-title {
    @include text-hero-title;
}
.text-highlight-small {
    @include text-highlight-small;
}