@mixin element-on-bg($bg-type: 'dark', $parent: ".page-section", $current: '', $use_only_defined_parent:false) {
    @if($bg-type == 'dark' or $bg-type == 'light') {
        @if(& != null and $current == true and type-of($current) == bool){
            @each $key,$col in $palette {
                @if (map-get($col, lightness) == $bg-type){
                    @if (not $use_only_defined_parent){
                        .bg-#{$key} &,
                        #{$parent}.bg-#{$key} & {
                            @content;
                        }
                    } @else {
                        #{$parent}.bg-#{$key} & {
                            @content;
                        }
                    }
                }
            }
        }@else{
            @each $key,$col in $palette {
                @if (map-get($col, lightness) == $bg-type){
                    @if (not $use_only_defined_parent){
                        .bg-#{$key} #{$current},
                        #{$parent}.bg-#{$key} #{$current}{
                            @content;
                        }
                    } @else {
                        #{$parent}.bg-#{$key} #{$current}{
                            @content;
                        }
                    }
                }
            }
        }
    }
}
@mixin hover-on-bg($parent: ".page-section", $current) {
    // body.bg-white & {
    //     background: red;
    // }
    @include element-on-bg('dark', $parent, $current){
        @include hover(){
            color: map-get(map-get($color,'button-vivid'),'dark');
        }
    }
    @include element-on-bg('light', $parent, $current){
        @include hover(){
            color: map-get(map-get($color,'button-vivid'),'light');
        }
    }
}