@mixin block-padding($padding) {
    @if map-has-key($padding,'desktop') {
        @each $key,$val in map-get($padding,'desktop') {
            padding-#{$key}: $val;
        }
    } @else if map-has-key($block-padding,'desktop') {
        @each $key,$val in map-get($block-padding,'desktop') {
            padding-#{$key}: $val;
        }
    }
    @include media-mobile {
        @if map-has-key($padding,'mobile') {
            @each $key,$val in map-get($padding,'mobile') {
                padding-#{$key}: $val;
            }
        } @else if map-has-key($block-padding,'mobile') {
            @each $key,$val in map-get($block-padding,'mobile') {
                padding-#{$key}: $val;
            }
        }
    }
}