@use 'sass:math';
/* === All Blocks === */
$block-padding: (
    'desktop': (
        'top': global-unit(1),
        'bottom': global-unit(2),
    )
);

/* === Cards === */
$block-cards-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2),
    ),
);
$card-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2),
        'left': global-unit(2),
        'right': global-unit(2),
    ),
    'mobile': (
        'top': global-unit(1),
        'bottom': global-unit(1),
        'left': global-unit(1),
        'right': global-unit(1),
    )
);
$card-block-inner-gap-desktop: global-unit(1);
$card-block-inner-gap-mobile: global-unit(1);
$card-border-top-enabled: false;
$card-min-width: calc(33.333% - global-unit(0.667));
$card-gap: global-unit();

/* === Auto Cards Filters === */

$filters-wrapper-padding: (
    'desktop': (
        'top': global-unit(1),
        'bottom': global-unit(1),
    ),
    'mobile': (
        'top': global-unit(1),
        'bottom': global-unit(1),
    )
);

$filters-list-padding: (
    'desktop': (
        'left': global-unit(1),
    ),
    'mobile': (
        'left': global-unit(1),
    )
);
$filters-list-border: (
    'desktop': (
        'left': 1px solid currentColor
    ),
    'mobile': (
        'left': 1px solid currentColor
    )
);

/* === Blok CTA === */
$block-cta-is-in-grid: true; // Domyślnie blok CTA jest właczony w grid i wykorzystuje mixina który definiuje marginesy boczne oraz max width.  
$block-cta-max-width: inherit; // zmienna używana gdy blok CTA nie jest częścią main-grid
$block-cta-vertical-margins: auto; // zmienna używana gdy blok CTA nie jest częścią main-grid
$block-cta-gap:global-unit(1);
$block-cta-padding: (
    'desktop': (
        'top': global-unit(2), 
        'bottom': global-unit(2),
    ),
    'mobile': (
        'top': global-unit(1),
        'bottom': global-unit(1)
    )
);
$block-cta-title-text-align: center;
$block-cta-content-text-align: center;
$block-cta-button-text-align: center;

/* ==== Blok Slider === */

$block-slider-buttons-border-radius: 50%;
$block-slider-buttons-size: $global-unit * 2;

/* === Block Biglinks === */

$block-big-links-padding: (
    'desktop': (
        'top': global-unit(1),
        'bottom': 0,
    )
);
$block-big-links-big-link-default-min-width: calc(50% - global-unit(2));

/* === Blok Gallery === */

$block-gallery-padding: (
    'desktop': (
        'top': global-unit(1),
        'bottom': 0,
    )
);
$block-gallery-button-close-size: $block-slider-buttons-size;
$gallery-buttons-border-radius: 50%;

/* === Blok Highlight === */
$block-highlight-padding: (
    'desktop': (
        'top': global-unit(1), 
        'bottom': global-unit(1), 
    )
);

$block-highlight-text-grid-column: (
    'desktop': (
        'grid-column': 4 / span 6
    ),
    'mobile': (
        'grid-column': 1 / span 4
    ),
);
$block-highlight-caption-text-align: right;
$block-highlight-caption-margin: (
    'desktop': (
        'top': global-unit(2),
        'left': auto
    )
);

/* === Block Image === */
$block-image-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2),
    )
);

/* === Blok Lead === */
$block-lead-padding: (
    'desktop': (),
    'mobile': ()
);
// .block-lead__lead
$block-lead-text-grid-column-desktop: 5 / span 8;
$block-lead-text-grid-column-mobile: span 4;
$block-lead-text-grid-column-after-image: 7 / span 6; // gdy test jat wyświetlany jednocześnie z obrazkiem

// .block-lead__image
$block-lead-image-grid-column-desktop: span 6;
$block-lead-image-grid-column-mobile: span 4;
$block-lead-image-width: 100%;

/* === Quick Links === */

$block-quick-links-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    )
);

$quick-link-border-vertical-enabled: false;
$quick-link-border-horizontal-enabled: false;
$quick-link-border-width: 1px;
$quick-link-min-width: calc(25% - #{global-unit(2)});
$quick-link-max-width: unset;
$block-quick-links-gap-desktop: global-unit(1);
$block-quick-links-gap-mobile: global-unit(1);
$quick-link-inner-gap: global-unit(); 
$quick-link-padding: (
    'desktop': (
        'top': global-unit(),
        'bottom': global-unit(),
        'right': 0,
        'left': 0,
    )
);

/* === Blok Subheading === */

$block-subheading-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    )
);
$block-subheading-h3-grid-column-desktop: span 8;
$block-subheading-h3-grid-column-mobile: span 4;

$block-highlight-caption-margin-top: global-unit(2);
$block-highlight-caption-margin-left: auto;

/* === Blok RichText === */
$block-text-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    )
);

$block-text-inner-grid-column-desktop: 3 / span 5; 
$block-text-inner-grid-column-mobile: 1 / span 4;
$block-text-lead-margin: (
    'desktop': (
        'bottom': global-unit(2)
    ),
    'mobile': (
        'bottom': global-unit(2)
    ),
);
$block-text-paragraph-margin-bottom: 1.5em;
$block-text-heading-margins: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    ),
    'mobile': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    )
);


