// button-base-secondary dziedziczy po button-base
// button-base-link nie dziedziczy po button-base

$button-primary: (
    'height': auto,
    'padding': (
        vertical: 0.5 * $small-unit,
        horizontal: $global-unit,
    ),
    'border': (
        'radius': 20px,
        'style': solid,
    ),
    'border-width': (
        'default': false,
        'on-hover': false,
    ),
    'text-stroke': (
        'default': false,
        'on-hover': true,
    ),
    'color': (
        'on-light': map-get(map-get($color,'button-typo'),'dark'),
        'on-light-hover': map-get(map-get($color,'button-typo'),'light'),
        'on-dark': map-get(map-get($color,'button-typo'),'light'),
        'on-dark-hover': map-get(map-get($color,'button-typo'),'dark'),
    ),
    'background-color': (
        'on-light': rgba(map-get(map-get($color,'button-typo'),'dark'), 0.2),
        'on-light-hover': map-get(map-get($color,'button-typo'),'dark'),
        'on-dark': rgba(map-get(map-get($color,'button-typo'),'light'), 0.2),
        'on-dark-hover': map-get(map-get($color,'button-typo'),'light'),
    ),
    'border-color': (
        'on-light': transparent,
        'on-light-hover': transparent,
        'on-dark': transparent,
        'on-dark-hover': transparent,
    ),
);

@mixin additional-button-primary-styles(){
    @if(map-has-key( map-get($button-primary,'text-stroke'), 'default') and map-get( map-get($button-primary,'text-stroke'), 'default') != false) {
        @include text-stroke-no-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-primary,'border-width'), 'default') and map-get( map-get($button-primary,'border-width'), 'default') != false) {
        // FIXME - currentColor może być niewystarczajacy i w niektórych przypadkach inny od zdefiniowanego koloru bordera
        box-shadow: inset 0px 0px 0px map-get( map-get($button-primary,'border-width'), 'default') currentColor;

    }
}
@mixin additional-button-primary-hover-styles(){
    @if(map-has-key( map-get($button-primary,'text-stroke'), 'on-hover') and map-get( map-get($button-primary,'text-stroke'), 'on-hover') != false) {
        @include text-stroke-on-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-primary,'border-width'), 'on-hover') and map-get( map-get($button-primary,'border-width'), 'on-hover') != false ) {
        // FIXME - currentColor może być niewystarczajacy i w niektórych przypadkach inny od zdefiniowanego koloru bordera
        box-shadow: inset 0px 0px 0px map-get( map-get($button-primary,'border-width'), 'on-hover') currentColor;
    }
}
$button-secondary: (
    'height': false,
    'padding': false,
    'border': (
        'radius': false,
        'style': solid,
    ),
    'border-width': (
        'default': 1px,
        'on-hover': 2px,
    ),
    'text-stroke': (
        'default': false,
        'on-hover': true,
    ),
    'color': (
        'on-light': map-get(map-get($color,'button-typo'),'dark'),
        'on-light-hover': map-get(map-get($color,'button-typo'),'dark'),
        'on-dark': map-get(map-get($color,'button-typo'),'light'),
        'on-dark-hover': map-get(map-get($color,'button-typo'),'light'),
    ),
    'background-color': (
        'on-light': transparent,
        'on-light-hover': transparent,
        'on-dark': transparent,
        'on-dark-hover': transparent
    ),
    'border-color': (
        'on-light': map-get(map-get($color,'button-typo'),'dark'),
        'on-light-hover': map-get(map-get($color,'button-typo'),'dark'),
        'on-dark': map-get(map-get($color,'button-typo'),'light'),
        'on-dark-hover': map-get(map-get($color,'button-typo'),'light'),
    ),
);

@mixin additional-button-secondary-styles(){
    @if(map-has-key( map-get($button-secondary,'text-stroke'), 'default') and map-get( map-get($button-secondary,'text-stroke'), 'default') != false) {
        @include text-stroke-no-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-secondary,'border-width'), 'default') and map-get( map-get($button-secondary,'border-width'), 'default') != false) {
        box-shadow: inset 0px 0px 0px map-get( map-get($button-secondary,'border-width'), 'default') currentColor;
    }
}
@mixin additional-button-secondary-hover-styles(){
    @if(map-has-key( map-get($button-secondary,'text-stroke'), 'on-hover') and map-get( map-get($button-secondary,'text-stroke'), 'on-hover') != false) {
        @include text-stroke-on-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-secondary,'border-width'), 'on-hover') and map-get( map-get($button-secondary,'border-width'), 'on-hover') != false) {
        box-shadow: inset 0px 0px 0px map-get( map-get($button-secondary,'border-width'), 'on-hover') currentColor;
    }
}

$button-link: (
    'height': false,
    'padding': false,
    'border': (
        'radius': false,
        'style': false,
    ),
    'border-width': (
        'default': false,
        'on-hover': false,
    ),
    'text-stroke': (
        'default': false,
        'on-hover': true,
    ),
    'underlined': true,
    'color': (
        'on-light': map-get(map-get($color,'button-neutral'),'light'),
        'on-light-hover': map-get(map-get($color,'button-neutral'),'light'),
        'on-dark': map-get(map-get($color,'button-neutral'),'dark'),
        'on-dark-hover': map-get(map-get($color,'button-neutral'),'dark'),
    ),
    'background-color': (
        'on-light': transparent,
        'on-light-hover': transparent,
        'on-dark': transparent,
        'on-dark-hover': transparent
    ),
    'border-color': (
        'on-light': transparent,
        'on-light-hover': transparent,
        'on-dark': transparent,
        'on-dark-hover': transparent,
    ),
);
@mixin additional-button-link-styles(){
    @if(map-has-key( map-get($button-link,'text-stroke'), 'default') and map-get( map-get($button-link,'text-stroke'), 'default') != false) {
        @include text-stroke-no-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-link,'border-width'), 'default') and map-get( map-get($button-link,'border-width'), 'default') != false) {
        box-shadow: inset 0px 0px 0px map-get( map-get($button-link,'border-width'), 'default') currentColor;
    }
}
@mixin additional-button-link-hover-styles(){
    @if(map-has-key( map-get($button-link,'text-stroke'), 'on-hover') and map-get( map-get($button-link,'text-stroke'), 'on-hover') != false) {
        @include text-stroke-on-hover($width: $buttons-text-stroke)
    }
    @if(map-has-key( map-get($button-link,'border-width'), 'on-hover') and map-get( map-get($button-link,'border-width'), 'on-hover') != false) {
        box-shadow: inset 0px 0px 0px map-get( map-get($button-link,'border-width'), 'on-hover') currentColor;
    }
}
