// nie edytujmy tego pliku pod projekt, tylko plik buttons-const.scss

@use "sass:math";
@mixin button-base() {
    @include text-button();
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition-property: background-color, color, border-color, -webkit-text-stroke, text-stroke, box-shadow ;
    transition-duration: $hover-transition-duration;
    @if(map-get($button-primary,'height')){
        height: map-get($button-primary,'height');
    }
    @if(map-get($button-primary,'padding') and map-get($button-primary,'padding') != false){
        @if(map-get(map-get($button-primary,'padding'),'vertical') and map-get(map-get($button-primary,'padding'),'vertical') != false){
            padding-top: map-get(map-get($button-primary,'padding'),'vertical');
            padding-bottom: map-get(map-get($button-primary,'padding'),'vertical');
        }
        @if(map-get(map-get($button-primary,'padding'),'horizontal') and map-get(map-get($button-primary,'padding'),'horizontal') != false){
            padding-left: map-get(map-get($button-primary,'padding'),'horizontal');
            padding-right: map-get(map-get($button-primary,'padding'),'horizontal');
        }
    }
    @if(map-get(map-get($button-primary,'border'),'radius') != false){
        border-radius: map-get(map-get($button-primary,'border'),'radius');
    }
    @if( map-get(map-get($button-primary,'border-width'),'default') != false and map-get(map-get($button-primary,'border-width'),'default') > 0 ){
        @if(map-get(map-get($button-primary,'border'),'style') != solid) {
            border-width: map-get(map-get($button-primary,'border'),'width');
            border-style: map-get(map-get($button-primary,'border'),'style');
        }
        @else {
            box-shadow: inset 0px 0px 0px map-get(map-get($button-primary,'border-width'),'default') currentColor;
        }
    }
    @else {
        border: none;
    }
    @if(map-get($button-primary, 'text-stroke') != false) {
        @include text-stroke-with-hover;
    }
    @include additional-button-primary-styles;
    
    // border and background colors set in buttons.scss
}

@mixin button-base-secondary() {
    @include button-base();
    @if(map-get(map-get($button-secondary,'border'),'radius') != false){
        border-radius: map-get(map-get($button-secondary,'border'),'radius');
    }
    @if(map-get(map-get($button-secondary,'border'),'width') != false){
        @if(map-get(map-get($button-secondary,'border'),'style') != 'solid') {
            border-width: map-get(map-get($button-secondary,'border'),'width');
            border-style: map-get(map-get($button-secondary,'border'),'style');
        }
        @else {
            box-shadow: inset 0px 0px 0px map-get(map-get($button-secondary,'border'),'width') currentColor;
        }
    }
    @if(map-get($button-secondary,'text-stroke') != false) {
            @include text-stroke-with-hover;
        }
    @include additional-button-secondary-styles;
}

@mixin button-base-link() {
    @include text-button-link();
    box-sizing: border-box;
    transition-property: background-color, color, border-color, text-shadow, -webkit-text-stroke, text-stroke;
    transition-duration: $hover-transition-duration;
    cursor: pointer;
    padding: 0;
    @if(map-get($button-link,'padding') != false){
        padding: map-get($button-link,'padding');
    }
    @if(map-get(map-get($button-link,'border'),'radius') != false){
        border-radius: map-get(map-get($button-link,'border'),'radius');
    }
    @if(map-get(map-get($button-link,'border'),'width') != false){
        border-width: map-get(map-get($button-link,'border'),'width');
    }
    @if(map-get(map-get($button-link,'border'),'style') != false){
        border-style: map-get(map-get($button-link,'border'),'style');
    }

    @if(map-get($button-link,'underlined') != false) {
        // Ze względu na to, ze przy włączonym text-stoke właściwość text-decoration: underline źle działa na hoverze (znika i się pojawia) trzeba było zastosować rozwiązanie z :after.
        @include custom-text-underline;
    }

    @if(map-has-key( map-get($button-link,'text-stroke'),'stroke-on-hover') and map-get( map-get($button-link,'text-stroke'),'stroke-on-hover') != false) {
        @include text-stroke-with-hover;
    }


    @include additional-button-link-styles;
}

@mixin button-base-filter($icon-size: 8px, $padding-unit: $global-unit-mobile, $font-animation-name-in: false, $font-animation-name-out: false) {
    @include button-base-link();
    position: relative;
    padding: {
        top: math.div($padding-unit, 2);
        bottom: math.div($padding-unit, 2);
        left: $padding-unit;
        right: $padding-unit;
    }
    .svg-icon {
        position: absolute;
        left: 0;
        top: 50%;
        background-color: transparent;
        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: $hover-transition-duration;
        &.icon-close {
            width: $icon-size;
            height: $icon-size;
            .svg-icon--use {
                position: absolute;
                fill: currentColor;
                stroke: currentColor;
                width: $icon-size;
                height: $icon-size;
                transition: color $hover-transition-duration;
            }
        }
    }
    &.active {
        .svg-icon {
            opacity: 1;
            visibility: visible;
        }
        span {
            @if($font-animation-name-in != false) {
                &:before {
                    animation-name: $font-animation-name-in;
                    animation-duration: $hover-transition-duration;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    span {
        display: inline-block;
        @if($font-animation-name-out != false) {
            position: relative;
            color: transparent;
            &:before {
                content: attr(data-label);
                position: absolute;
                top: 50%;
                left: 0;
                height: 100%;
                width: 110%;
                transform: translateY(-50%);
                pointer-events: none;
                text-align: left;
                transition: color $hover-transition-duration;
                animation-name: $font-animation-name-out;
                animation-duration: $hover-transition-duration;
                animation-fill-mode: forwards; 
            }
        }
        @else {
            transition: color $hover-transition-duration;
        }
    }
    cursor: pointer;
    @content;
}