@use 'sass:list';

// nie edytujmy tego pliku pod projekt, tylko plik buttons-const.scss

/// mixin button-color-variant-styles jest używany w obrębie tego pliku
/// plik służy tylko do ustawiania styli związanych z kolorem tła na jakim znajduje się guzik
/// @param {map} $variants-map  
/// @param {map} $fallback-map  domyślna mapa z instrukcjami 
/// @param {string} $variant dozwolone wartości: 'on-light', 'on-light-hover', 'on-dark', 'on-dark-hover'
/// @return {void}
/// 
@mixin button-color-variant-styles($variants-map, $fallback-map, $variant){
    
    @if(map-get(map-get($variants-map,'color'),$variant) and map-get(map-get($variants-map,'color'),$variant) != false){
        color: map-get(map-get($variants-map,'color'),$variant);
        @include antialiasing(map-get(map-get($variants-map,'color'),$variant));
    }@else if(type-of($fallback-map) == map){
        color: map-get(map-get($fallback-map,'color'),$variant);
        @include antialiasing(map-get(map-get($fallback-map,'color'),$variant));
    }
    @if(map-get(map-get($variants-map,'background-color'),$variant) and map-get(map-get($variants-map,'background-color'),$variant) != false){
        background-color: map-get(map-get($variants-map,'background-color'),$variant);
    }@else if(type-of($fallback-map) == map){
        background-color: map-get(map-get($fallback-map,'background-color'),$variant);
    }
    @if(map-get(map-get($variants-map,'border-color'),$variant) and map-get(map-get($variants-map,'border-color'),$variant) != false){
        border-color: map-get(map-get($variants-map,'border-color'),$variant);
    }@else if(type-of($fallback-map) == map){
        border-color: map-get(map-get($fallback-map,'border-color'),$variant);
    }
}

@mixin button-primary($parent: '.page-section'){
    @include button-base();
    @include button-primary-dark(false);
    @include element-on-bg('dark',$parent,true){
        @include button-primary-light(false);
    }
}

@mixin button-primary-dark($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-primary-dark-no-hover(false);
    @include hover {
        @include button-primary-dark-hover(false);
    }
}

@mixin button-primary-dark-no-hover($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-color-variant-styles($button-primary,false,'on-light');
    
}

@mixin button-primary-dark-hover($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-color-variant-styles($button-primary,false,'on-light-hover');
    @include additional-button-primary-hover-styles;
}

@mixin button-primary-light($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-primary-light-no-hover(false);
    @include hover {
        @include button-primary-light-hover(false);
    }
}

@mixin button-primary-light-no-hover($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-color-variant-styles($button-primary,false,'on-dark');
}

@mixin button-primary-light-hover($include_base: true){
    @if($include_base){
        @include button-base();
    }
    @include button-color-variant-styles($button-primary,false,'on-dark-hover');
    @include additional-button-primary-hover-styles;
}

@mixin button-secondary($parent: '.page-section'){
    @include button-base-secondary();
    @include button-secondary-dark(false);
    @include element-on-bg('dark',$parent,true){
        @include button-secondary-light(false);
    }
}

@mixin button-secondary-dark($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-secondary-dark-no-hover(false);
    @include hover {
        @include button-secondary-dark-hover(false);
    }
}

@mixin button-secondary-dark-no-hover($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-color-variant-styles($button-secondary, $button-primary, 'on-light');
    @include additional-button-secondary-styles;
}

@mixin button-secondary-dark-hover($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-color-variant-styles($button-secondary, $button-primary, 'on-light-hover');
    @include additional-button-secondary-hover-styles;
}

@mixin button-secondary-light($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-secondary-light-no-hover(false);
    @include hover {
        @include button-secondary-light-hover(false);
    }
}

@mixin button-secondary-light-no-hover($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-color-variant-styles($button-secondary, $button-primary, 'on-dark');
}

@mixin button-secondary-light-hover($include_base: true){
    @if($include_base){
        @include button-base-secondary();
    }
    @include button-color-variant-styles($button-secondary, $button-primary, 'on-dark-hover');
    @include additional-button-secondary-hover-styles;
}

@mixin button-link($parent: '.page-section'){
    @include button-base-link();
    @include button-link-dark(false);
    @include element-on-bg('dark',$parent,true){
        @include button-link-light(false);
    }
}

@mixin button-link-dark($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-link-dark-no-hover(false);
    @include hover {
        @include button-link-dark-hover(false);
    }
}

@mixin button-link-dark-no-hover($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-color-variant-styles($button-link, $button-primary, 'on-light');
}

@mixin button-link-dark-hover($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-color-variant-styles($button-link, $button-primary, 'on-light-hover');
    @include additional-button-link-hover-styles;
}

@mixin button-link-light($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-link-light-no-hover(false);
    @include hover {
        @include button-link-light-hover(false);
    }
}

@mixin button-link-light-no-hover($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-color-variant-styles($button-link, $button-primary, 'on-dark');
}

@mixin button-link-light-hover($include_base: true){
    @if($include_base){
        @include button-base-link();
    }
    @include button-color-variant-styles($button-link, $button-primary, 'on-dark-hover');
    @include additional-button-link-hover-styles;
}

@mixin button-filter($bg-type: 'dark', $icon-size: 8px, $font-animation-name-in: false, $font-animation-name-out: false) {
    @include button-base-filter($icon-size: $icon-size, $font-animation-name-in: $font-animation-name-in, $font-animation-name-out: $font-animation-name-out);
    $with-font-animation: $font-animation-name-in != false and $font-animation-name-out != false;
    @if($bg-type == 'light') {
        @include button-filter-light-no-hover($with-font-animation);
        @include hover {
            @include  button-filter-light-hover($with-font-animation);
        }
    }
    @else {
        @include button-filter-dark-no-hover($with-font-animation);
        @include hover {
            @include  button-filter-dark-hover($with-font-animation);
        }
    }
}

@mixin button-filter-dark-hover($with-font-animation: false) {
    .svg-icon {
        color: $color-vivid-dark;
    }
    @if($with-font-animation) {
        span:before {
            color: $color-vivid-dark;
        }
    }
    @else {
        span {
            color: $color-vivid-dark;
        }
    }
}

@mixin button-filter-dark-no-hover($with-font-animation: false) {
    .svg-icon {
        color: $color-neutral-dark;
    }
    @if($with-font-animation) {
        span:before {
            color:  $color-neutral-dark;
        }
    }
    @else {
        span {
            color:  $color-neutral-dark;
        }
    }
}

@mixin button-filter-light-no-hover($with-font-animation: false) {
    .svg-icon {
        color: $color-neutral-light;
    }
    @if($with-font-animation) {
        span:before {
            color:  $color-neutral-light;
        }
    }
    @else {
        span {
            color:  $color-neutral-light;
        }
    }
}

@mixin button-filter-light-hover($with-font-animation: false) {
    .svg-icon {
        color: $color-vivid-light;
    }
    @if($with-font-animation) {
        span:before {
            color:  $color-vivid-light;
        }
    }
    @else {
        span {
            color:  $color-vivid-light;
        }
    }
}