@use 'sass:list';


// @function header-color-primary($bg:'light'){
//     @if $bg == 'dark' {
//         @return $color-neutral-light;
//     } @else {
//         @return $color-neutral-dark;
//     }
// }

$color: (
    'header-primary': ('light': $color-neutral-dark, 'dark': $color-neutral-light),
    'header-secondary': ('light': $color-vivid-dark, 'dark': $color-vivid-light),
    'box-bg': ('light': $color-toned-dark, 'dark': $color-toned-light),
    'box-typo': ('light': $color-neutral-light, 'dark': $color-neutral-dark),
    'main-typo': ('light': $color-neutral-dark, 'dark': $color-neutral-light),
    'button-vivid': ('light': $color-vivid-dark, 'dark': $color-vivid-light),
    'button-typo': ('light': $color-neutral-light, 'dark': $color-neutral-dark),
    'button-neutral': ('light': $color-neutral-dark, 'dark': $color-neutral-light),
    'graphics-bg': ('light': $color-toned-light, 'dark': $color-toned-dark)
);

@function getColorLightness ($color, $colors-palette: $palette) {
    @each $key,$color-name in $colors-palette {
        @if(type-of($color-name) == 'map') {
            $lightness: map-get($color-name,'lightness');
            $colorValue: map-get($color-name,'value');
            @if($colorValue == $color) {
                @return #{$lightness};
            }
        }
    }
    @return false;
}

