
/* === Site Header === */
// .site-header
$site-header-logo-default-height: 52px;
$site-header-logo-default-height-mobile: 56px;
$site-header-height: (
    'desktop': 100px,
    'mobile': 80px
);
$site-header-padding: (
    'desktop': (
        'top': global-unit(),
        'bottom': global-unit(),
        'left': global-unit(2),
        'right': global-unit(2)
    ),
    'mobile': (
    )
);
// .site-header__inner
$site-header-gap: (
    'desktop': global-unit()
);
// .site-header__menu

$site-header-menu-gap: (
    'desktop': global-unit(0.25)
);
// .site-header .menu-item
$site-header-item-padding: (
    'desktop': (
        'top': global-unit(0.75),
        'bottom': global-unit(0.75),
        'left': global-unit(0.25),
        'right': global-unit(0.25)
    ),
    'mobile': (
    )
);
$logo-link-hover-type: (
    'with-stroke': false,
    'with-color': false
);
$header-menu-link-hover-type: (
    'with-stroke': true,
    'with-color': false
);

/* === Menu Burger === */   
// .menu-toggle_button
$menu-toggle-button-height: 40px;
$menu-toggle-button-width: 40px;
$menu-burger-line-height: 1px;
$menu-burger-height: 15px;
$menu-burger-width: 32px;

/* === MENU === */

/* === FOOTER === */

$footer-background-color: $color-neutral-dark;

$footer-menu-link-hover-type: (
    'with-stroke': true,
    'with-color': false
);

html {
    --site-header-height: #{map-get($site-header-height,'desktop')};
    @include media-mobile {
        --site-header-height: #{map-get($site-header-height,'mobile')};
    }
}

/* === Main Container === */
// .main-container
$main-container-padding: (
    'desktop': (
        'bottom': 0,
    ),
);

/* === Page Section === */
$page-section-gap: (
    'desktop': 0,
    'mobile': 0,
);
$page-section-padding: (
    'desktop': (
        'top':global-unit(2),
        'bottom': global-unit(2),
    ),
    'mobile': (
        'top': global-unit(1),
        'bottom': global-unit(1)
    )
);
// .page-section__header
$page-section-header-grid-column: (
    'desktop': span 12,
    'mobile': span 4
);
$page-section-header-padding: (
    'desktop': (
        'top': global-unit(2),
        'bottom': global-unit(2)
    ),
    'mobile': (
        'top': global-unit(1),
        'bottom': global-unit(1)
    )
);

// ==== CONSENT BOX ==== //
$consent-box-padding: (
    'desktop': (
        'padding': global-unit(1),
    ),
    'mobile': (
        'padding': global-unit(2),
    )
);
$consent-box-gap: (
    'desktop': (
        'gap': global-unit(0.75),
    ),
    'mobile': (
        'gap': global-unit(1.75),
    )
);