@use 'sass:math';

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return math.div($number, ($number * 0 + 1));
    }
    @return $number;
}

@mixin font-color($color: $color-neutral-dark) {
    color: $color;
    @include antialiasing($color);
}

@mixin antialiasing($color) {
    @if(lightness($color) > 50%) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: greyscale;
    }
    @else {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin scale-font-to-screen($font-size) {
    @include media-wide-screen {
        font-size: #{$font-size * 1.1};
    }
    font-size: #{$font-size * 1.0};
    @include media-mobile {
        font-size: #{$font-size * 0.9};
    }
}
@mixin scale-title-to-screen($font-size) {

    @include media-small-mobile {
        font-size: #{$title-font-small-mobile-scale * $font-size};
    }
    @include media-below-small-desktop {
        font-size: linear-function($font-size, $title-font-small-mobile-scale, $title-font-small-desktop-scale, $small-mobile-breakpoint, $small-desktop-breakpoint);
    }
    @include media-small-desktop {
        font-size: linear-function($font-size, $title-font-small-desktop-scale, $title-font-wide-screen-scale, $small-desktop-breakpoint, $wide-screen-breakpoint);
    }
    @include media-wide-screen {
        font-size: #{$title-font-wide-screen-scale * $font-size};
    }
}
@mixin scale-box-title-to-screen($font-size) {
    @include media-small-mobile {
        font-size: #{$box-title-font-small-mobile-scale * $font-size}; 
    }
    @include media-mobile {
        font-size: linear-function($font-size, $box-title-font-small-mobile-scale, $box-title-font-mobile-scale, $small-mobile-breakpoint, $mobile-breakpoint);
    }
    @include media-above-mobile {
        font-size: linear-function($font-size, $box-title-font-above-mobile-scale, $box-title-font-small-desktop-scale, $mobile-breakpoint, $small-desktop-breakpoint);
    }
    @include media-small-desktop {
        font-size: linear-function($font-size, $box-title-font-small-desktop-scale, $box-title-font-wide-screen-scale, $small-desktop-breakpoint, $wide-screen-breakpoint);
    }
    @include media-wide-screen {
        font-size: #{$box-title-font-wide-screen-scale * $font-size}; 
    }
}

@mixin typography-allcaps {
    text-transform: uppercase;
    letter-spacing: $allcaps-letter-spacing;
    line-height: $allcaps-line-height;
}

@function linear-function($y-base,$y-scale-start,$y-scale-end,$x-start,$x-end){
    $y-start: $y-base * $y-scale-start;
    $y-end: $y-base * $y-scale-end;
    $y-difference: $y-end - $y-start;
    $x-difference: $x-end - $x-start;
    @if $x-difference == 0 {
        @return $y-start;
    } @else {
        $slope: math.div($y-difference, $x-difference);
        $offset: $y-start - $slope * $x-start;
        @if $offset == 0 {
            @return #{$slope * 100vw};
        } @else if $slope == 0 {
            @return #{$offset};
        } @else {
            @return calc(#{$offset} + #{$slope * 100vw});
        }
    }
}

