@function global-unit($factor: 1) {
    @if $factor == 1 {
        // @return $global-unit;
        @return var(--global-unit);
    } @else {
        // @return $factor * $global-unit;
        @return #{calc($factor * (var(--global-unit)))}; // tu ważne są nawiasy
    }
}

html {
    --global-unit: #{$global-unit};
    --small-unit: #{$small-unit};
}