@use 'sass:math';

$main-grid-gap: global-unit($main-grid-gap-gu);
$main-grid-gap-mobile: global-unit($main-grid-gap-gu-mobile);
$main-grid-margin: global-unit($main-grid-margin-gu);
$main-grid-margin-mobile: global-unit($main-grid-margin-gu-mobile);

// $main-grid-max-width: $wide-screen-breakpoint - 2 * $main-grid-margin-gu * $global-unit;

html {
    --column-width: calc(calc(min(100vw, #{$main-grid-max-width}) - #{global-unit(11)}) / 12);
    --column-width-percent: calc(calc(min(calc(100% - #{global-unit(2 * $main-grid-margin-gu)}), calc(#{$main-grid-max-width})) - #{global-unit(11 * $main-grid-gap-gu)}) / 12);
    --main-margin: #{$main-grid-margin};
    @include media-mobile {
        --global-unit: #{$global-unit-mobile};
        --column-width: calc(calc(100vw - #{global-unit(3 * $main-grid-gap-gu-mobile + 2 * $main-grid-margin-gu-mobile)}) / 4);
        --column-width-percent: calc(calc(100% - #{global-unit(3 * $main-grid-gap-gu-mobile + 2 * $main-grid-margin-gu-mobile)}) / 4);
        --main-margin: #{$main-grid-margin-mobile};
    }
    @include media-wide-screen {
        --main-margin: calc(50vw - #{0.5 * $main-grid-max-width});
    }
}

@function column-width($factor: 1) {
    @if $factor == 1 {
        @return var(--column-width);
    } @else {
        @return calc($factor * (var(--column-width))); // tu ważne są nawiasy
    }
}
@function column-width-percent($factor: 1) {
    @if $factor == 1 {
        @return var(--column-width-percent);
    } @else {
        @return calc($factor * (var(--column-width-percent))); // tu ważne są nawiasy
    }
}


@function columns-with-gutter($column_factor: 1,$gutter_factor: 1) {
    @return calc(column-width($column_factor) + global-unit($gutter_factor)); 
}
@function columns-gutter-margin-percent($column_factor: 1,$gutter_factor: 1,$margin_factor: 1) {
    @return calc(column-width-percent($column_factor) + global-unit($gutter_factor * $main-grid-gap-gu) + calc($margin-factor * (var(--main-margin)))); 
}
@function columns-gutter-margin-percent-mobile($column_factor: 1,$gutter_factor: 1,$margin_factor: 1) {
    @return calc(column-width-percent($column_factor) + global-unit($gutter_factor * $main-grid-gap-gu-mobile) + calc($margin-factor * (var(--main-margin)))); 
}

@mixin inner-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $main-grid-gap;
    @include media-mobile {
        grid-template-columns: repeat(4, 1fr);
        column-gap: $main-grid-gap-mobile;
    }
}


@mixin main-grid-margins {
    margin: 0 global-unit($main-grid-margin-gu);
    max-width: $main-grid-max-width;
    @include media-mobile {
        margin: 0 global-unit($main-grid-margin-gu-mobile);
    }
    @include media-wide-screen {
        margin: 0 auto;
        width: $main-grid-max-width;
    }
}
@mixin main-grid-left-margin {
    margin-left: global-unit($main-grid-margin-gu);
    padding-right: calc($main-grid-gap * 0.5);
    @include media-mobile {
        margin-left: 0;
        padding-right: calc($main-grid-gap-mobile * 0.5);
    }
    @include media-wide-screen {
        margin-left: auto;
        width: 0.5 * $main-grid-max-width;
    }
}
@mixin main-grid-right-margin {
    margin-right: global-unit($main-grid-margin-gu);
    padding-left: #{$main-grid-gap * 0.5};
    @include media-mobile {
        margin-right: 0;
        padding-left: #{$main-grid-gap-mobile * 0.5};
    }
    @include media-wide-screen {
        margin-right: auto;
        width: #{0.5 * $main-grid-max-width};
    }
}

@mixin main-grid {
    @include inner-grid;
    @include main-grid-margins;
}