
@mixin safariOnly {
    /* Safari 10.1+ */
    @media not all and (min-resolution:.001dpcm) { 
        @supports (-webkit-appearance:none) and (stroke-color:transparent) {
            @content;
        }
    }
}

@mixin input-placeholder-color($color: $white) {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
    }
}

@mixin text-stroke-with-hover($width: $buttons-text-stroke) {
    -webkit-text-stroke: #{$width} transparent;
    text-stroke: #{$width} transparent;
    @include hover {
        -webkit-text-stroke: #{$width} currentColor;
        text-stroke: #{$width} currentColor;
    }
}

@mixin text-stroke-no-hover($width: $buttons-text-stroke) {
    -webkit-text-stroke: #{$width} transparent;
    text-stroke: #{$width} transparent;
}
@mixin text-stroke-on-hover($width: $buttons-text-stroke) {
    -webkit-text-stroke: #{$width} currentColor;
    text-stroke: #{$width} currentColor;
}

@mixin custom-text-underline($thickness: 1px) {
    & {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: $thickness;
            width: 100%;
            display: inline-block;
            bottom: 0;
            background-color: currentColor;
            transition: transform $hover-transition-duration;
            transform: scaleY(1);
        }

        @include hover {
            &::before {
                transform: scaleY(1.5);
            }
        }
    }
}
@function map-get-deep($map, $keys...) {
    @each $key in $keys {
      $map: map-get($map, $key);
    }
   
    @return $map;
}