@mixin hover($with-focus: true) {
    @include media-above-mobile {
        @if $with-focus {
            // Klasa tab-navigating dodawana jest z poziomu javascript, po naciśnięciu klawisza TAB.
            html.tab-navigating & {
                &:focus {
                    @content;
                }
            }
        }
        &:hover {
            @content;
        }
    }
}

@mixin mask-no-hover($rounded: true, $bg-color: $hover-mask-color  ) {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($bg-color,0);
        transition: background-color $hover-transition-duration;
        z-index: 1;
        @if $rounded {
            border-radius: 50%;
        }
    }
}
@mixin mask-hover-state($bg-color, $bg-opacity: 0.1) {
    & {
        &::before {
            content: '';
            background-color: rgba($bg-color,$bg-opacity)
        }
    }
}

@mixin mask-on-hover($rounded: true, $bg-color: $hover-mask-color, $bg-hover-opacity: 0.1) {
    @include mask-no-hover($rounded: $rounded,  $bg-color: $bg-color);
    @include hover {
        @include mask-hover-state($bg-color, $bg-hover-opacity);
    }
}

