@mixin link($parent: '.page-section', $current: true){
    @include element-on-bg('dark',$parent,$current){
        @include link-light();
    }
    @include element-on-bg('light',$parent,$current){
        @include link-dark();
    }
}
@mixin link-light () {
    transition: color $hover-transition-duration;
    @include link-light-no-hover;
    @include hover($with-focus: true) {
        @include link-light-hover($antialiasing-enabled: false);
    }
}
@mixin link-light-no-hover($antialiasing-enabled: true) {
    color: map-get(map-get($color,'button-neutral'),'dark');
    @if($antialiasing-enabled == true) {
        @include antialiasing(map-get(map-get($color,'button-neutral'),'dark'));
    }
}
@mixin link-light-hover($antialiasing-enabled: true) {
    color: map-get(map-get($color,'button-vivid'),'dark');
    @if($antialiasing-enabled == true) {
        @include antialiasing(map-get(map-get($color,'button-vivid'),'dark'));
    }
}

@mixin link-dark () {
    transition: color $hover-transition-duration;
    @include link-dark-no-hover;
    @include hover($with-focus: true) {
        @include link-dark-hover($antialiasing-enabled: false);
    }
}
@mixin link-dark-no-hover($antialiasing-enabled: true) {
    color: map-get(map-get($color,'button-neutral'),'light');
    @if($antialiasing-enabled == true) {
        @include antialiasing(map-get(map-get($color,'button-neutral'),'light'));
    }
}
@mixin link-dark-hover($antialiasing-enabled: true) {
    color: map-get(map-get($color,'button-vivid'),'light');
    @if($antialiasing-enabled == true) {
        @include antialiasing(map-get(map-get($color,'button-vivid'),'light'));
    }
}

@mixin link-with-stroke($stroke-width: $buttons-text-stroke) {
    transition-property: -webkit-text-stroke, text-stroke ;
    transition-duration: $hover-transition-duration;
    @include text-stroke-with-hover($width: $stroke-width);
}