@mixin media-small-mobile {
    @media screen and (max-width: #{$small-mobile-breakpoint}) {
        @content;
    }
}

@mixin media-mobile {
    @media screen and (max-width: #{$mobile-breakpoint}) {
        @content;
    }
}

@mixin media-above-mobile {
    @media screen and (min-width: #{$mobile-breakpoint+1}) {
        @content;
    }
}

@mixin media-below-small-desktop {
    @media screen and (max-width: #{$small-desktop-breakpoint - 1}) {
        @content;
    }
}

@mixin media-small-desktop {
    @media screen and (min-width: #{$small-desktop-breakpoint}) {
        @content;
    }
}

@mixin media-wide-screen {
    @media screen and (min-width: #{$wide-screen-breakpoint}){
        @content;   
    }
}

@mixin media-ultra-wide-screen {
    @media  screen and (min-width: #{$ultra-wide-screen-breakpoint}) {
        @content;
    }
}
