@use "sass:map";

@mixin text-base($font-options) {
    font-family: map.get($font-options, "font-family");
    font-weight: map.get($font-options, "font-weight");
    font-size: map.get($font-options, "font-size");
    font-style: map.get($font-options, "font-style");
    line-height: map.get($font-options, "line-height");
    text-decoration: map.get($font-options, "text-decoration");
    text-transform: map.get($font-options, "text-transform");
    letter-spacing: map.get($font-options, "letter-spacing");
    @if map.get($font-options, "scaling") == "standard" {
        @include scale-font-to-screen(map.get($font-options, "font-size"));
    } @else if map.get($font-options, "scaling") == "title" {
        @include scale-title-to-screen(map.get($font-options, "font-size"));
    } @else if map.get($font-options, "scaling") == "box-title" {
        @include scale-font-to-screen(map.get($font-options, "font-size"));
    } @else if map.get($font-options, "scaling") == "big-link-title" {
        @include scale-title-to-screen(map.get($font-options, "font-size"));
        // @include scale-big-links-title-to-screen(map.get($font-options, "font-size"));
    }
}

@mixin text-body ($font-options:()) {
    $opts: (
        font-family: $font-family-sans,
        font-weight: 400,
        font-size: 14px, //18px,
        line-height: 1.4,
        scaling: "standard",
    );
    @include text-base(map.merge($opts, $font-options));
}

/* === TITLE STYLES ===*/

// h1
@mixin text-page-title($font-options:()) {
    $opts: (
        font-family: $font-family-title,
        font-weight: 599,
        font-size: 36px,
        line-height: 1.1,
        scaling: "title",
    );
    // @include antialiasing($white);
    @include text-body(map.merge($opts, $font-options));
}

//h2
@mixin text-section-title($font-options:()) {
    $opts: (
        font-weight: 599,
        font-size: 24px,
    );
    @include text-page-title(map.merge($opts, $font-options));
}

//Big Link Title
@mixin text-big-link-title($font-options:()) {
    $opts: (
        font-weight: 599,
        font-size: 18px,
        scaling: 'big-link-title',
    );
    @include text-page-title(map.merge($opts, $font-options));
}

// h1 - alternative
@mixin text-post-title($font-options:()) {
    $opts: (
        font-size: 32px,
    );
    // @include antialiasing($white);
    @include text-page-title(map.merge($opts, $font-options));
}

// h1 Hero Title
@mixin text-hero-title($font-options:()) {
    $opts: (
        font-size: 24px,
    );
    // @include antialiasing($white);
    @include text-page-title(map.merge($opts, $font-options));
}

/* === SMALL TITLE STYLES ===*/

//h3
@mixin text-subtitle($font-options:()) {
    $opts: (
        font-family: $font-family-sans,
        font-weight: 599,
        font-size: 18px,
    );
    @include text-page-title(map.merge($opts, $font-options));
}

//Card Title
@mixin text-card-title($font-options:()) {
    $opts: (
        font-weight: 599,
        font-size: 18px,
        scaling: "standard",
    );
    @include text-page-title(map.merge($opts, $font-options));
}

//HEADER
@mixin text-header($font-options:()) {
    $opts: (
        font-family: $font-family-sans,
        font-weight: 599,
        font-size: 14px,
        line-height: 1.0,
        letter-spacing:  0.1em,
        text-transform: uppercase,
        scaling: "standard",
    );
    @include text-subtitle(map.merge($opts, $font-options));
}

// Microcopy
@mixin text-microcopy ($font-options:()) {
    $opts: (
        font-size: 12px,
        font-weight: 400,
        letter-spacing: 0.1em,
        line-height: 1.2em,
    );
    @include text-header(map.merge($opts, $font-options));
}

// Link
@mixin text-link ($font-options:()) {
    $opts: (
        font-weight: 400,
        text-decoration: underline,
    );
    @include text-microcopy(map.merge($opts, $font-options));
}

/* === NAVIGATION STYLES ===*/

// Menu
@mixin text-menu($font-options:()) {
    $opts: (
        font-size: 18px,
        scaling: "standard",
    );
    @include text-page-title(map.merge($opts, $font-options));
}

// Submenu
@mixin text-submenu($font-options:()) {
    $opts: (
        font-weight: 400,
        font-size: 14px,
        scaling: "standard",
    );
    @include text-body(map.merge($opts, $font-options));
}

/* === BODY STYLES ===*/

//Caption
@mixin text-caption($font-options:()) {
    $opts: (
        font-weight: 400,
        font-size: 12px,
    );
    @include text-body(map.merge($opts, $font-options));
}

// Links w tekstach
@mixin style-inline-links() {
    text-decoration: underline;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

//Card Body
@mixin text-card-body($font-options:()) {
    $opts: (
        font-size: 14px,
    );
    @include text-body(map.merge($opts, $font-options));
}

// highlight Small
@mixin text-highlight-small($font-options:()) {
    $opts: (
        font-family: $font-family-sans,
        font-weight: 599,
        font-size: 14px,
        line-height: 1.1,
        scaling: "standard",
    );
    @include text-body(map.merge($opts, $font-options));
}

//FIXME text-box-body Czy to jest nie uzywany style tekstowy?
@mixin text-box-body ($font-options:()) {
    $opts: (
        font-size: 14px,
    );
    @include text-body(map.merge($opts, $font-options));
}

//FIXME text-box-title Czy to jest nie uzywany style tekstowy?
@mixin text-box-title($font-options:()) {
    $opts: (
        scaling: "box-title",
    );
    @include text-subtitle(map.merge($opts, $font-options));
}

/* === BODY DECORATIVE STYLES ===*/

//Lead
@mixin text-lead($font-options:()) {
    $opts: (
        font-family: $font-family-title,
        font-weight: 300,
        font-size: 24px,
    );
    @include text-body(map.merge($opts, $font-options));
}
//Highlight
@mixin text-highlight($font-options:()) {
    $opts: (
        font-family: $font-family-sans-italic,
        font-weight: 300,
        font-size: 18px,
    );
    @include text-body(map.merge($opts, $font-options));
}
// Buttony (użyte w bazowych mixinach dotyczacych buttonów)
@mixin text-button ($font-options:()) {
    $opts: ();
    @include text-microcopy(map.merge($opts, $font-options));
}

// Butony typu link (użyte w bazowych mixinach dotyczacych buttonów)
@mixin text-button-link ($font-options:()) {
    $opts: ();
    @include text-microcopy(map.merge($opts, $font-options));
}