@mixin screenReaderOnly () {
    position: absolute;
    height: 1px;
    height: 1px;
    left: -9999999px;
    overflow: hidden;
    top: auto;
    width: 1px;
}

// mixin wspomagający wymaganie wcag na poziomie AAA - szerokość tekstu w linii nie może przekraczać 80 znaków
@mixin wcag-aaa-column-width() {
    max-width: 38em;
}

// mixin wspomagający wymaganie wcag na poziomie AAA - szerokość tekstu w linii nie może przekraczać 80 znaków
@mixin wcag-aaa-column-width-caps() {
    max-width: 60em;
}