@use 'sass:math';
.block-big-links {
    @include block-padding($block-big-links-padding);
    @include main-grid-margins;
    display: flex;
    gap: global-unit();
    row-gap: global-unit();
    flex-wrap: wrap;
    & .big-link {
        min-width: $block-big-links-big-link-default-min-width;
    }
    &.col-3 .big-link {
        min-width: calc(100% / 3 - global-unit(math.div(8, 3)));
    }
    &.col-2 .big-link {
        min-width: calc(50% - global-unit(2));
    }
    @include media-mobile {
        flex-direction: column;
        gap: global-unit(2);
        row-gap: global-unit(2);
        .big-link {
            min-height: auto;
            padding-top: global-unit(4);
            &__inner {
                width: global-unit(20);
            }
        }
    }
}
.big-link {
    position: relative;
    min-height: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-neutral-light;
    padding: global-unit(2);
    overflow: hidden;
    @include antialiasing($color-neutral-light);
    @include media-mobile(){
        aspect-ratio: auto;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0px 0px 100px $color-neutral-dark, inset 0px 0px 100px $color-neutral-dark;
        // filter: contrast(75%) brightness(70%);
        transition-property: transform;//, filter;
        transition-timing-function: cubic-bezier(0.5,0,0,1);
        transition-duration: 0.6s;
    }
    &__title {
        position: relative;
        @include text-big-link-title;
        margin: 0;
        text-align: center;
        filter: drop-shadow(0px 0px 64px $color-neutral-dark);
    }
    &__text {
        position: relative;
        @include text-highlight-small;
        margin-top: global-unit(2);
        text-align: center;
        filter: drop-shadow(0px 0px 64px $color-neutral-dark);
    }
    &__button {
        position: relative;
        @include text-microcopy;
        margin-top: global-unit(2);
        filter: drop-shadow(0px 0px 64px $color-neutral-dark);
    }
}

a.big-link {
    @include mask-on-hover($rounded:false, $bg-color: $hover-mask-color, $bg-hover-opacity: 0.2);
    @include hover {
        .big-link__background {
            transform: scale(1.1);
        }
    }
}
