@include element-on-bg('dark', '.page-section', '.big-link') {
    &:not(.with-image) {
        background-color:map-get(map-get($color,'box-bg'),'dark');
        color: map-get(map-get($color,'main-typo'),'light');
        .big-link__button  {
            @include button-secondary-dark-no-hover;
        }
    }
    color: map-get(map-get($color,'main-typo'),'dark'); 
    @include antialiasing(map-get(map-get($color,'main-typo'),'dark'));
    .big-link__button  {
        @include button-secondary-light-no-hover;
    } 
}
@include element-on-bg('light', '.page-section', '.big-link') {
    &:not(.with-image) {
        background-color:map-get(map-get($color,'box-bg'),'light');
        color: map-get(map-get($color,'main-typo'),'dark');
        .big-link__button  {
            @include button-secondary-light-no-hover;
        }
    }
    color: map-get(map-get($color,'main-typo'),'dark');
    @include antialiasing(map-get(map-get($color,'main-typo'),'light'));
    .big-link__button  {
        @include button-secondary-light-no-hover;
    }
}