@use 'sass:math';

.block-cards {
    @include main-grid-margins;
    @include block-padding($block-cards-padding);
    & .block__inner {
        display: flex;
        gap: $card-block-inner-gap-desktop;
        flex-wrap: wrap;
        @include media-mobile {
            gap: $card-block-inner-gap-mobile;
        }
    }
}
.card {
    display: flex;
    flex-direction: column;
    gap: $card-gap;
    @each $key,$val in map-get($card-padding,'desktop') {
        padding-#{$key}: $val;
    }

    background-size: cover;
    flex-basis: 0;
    min-width: $card-min-width;
    position: relative;
    @include media-mobile {
        min-width: 100%;
        @each $key,$val in map-get($block-cards-padding,'mobile') {
            padding-#{$key}: $val;
        }
    }
    @if($card-border-top-enabled) {
        &::before {
            display: block;
            content: '';
            width: 100%;
            height: 3px;
            background: $black;
        }
    }
    &__header {
        @include text-header;
    }
    &__image {
        width: 100%;
        margin: 0;
        & > img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__title {
        @include text-card-title;
        overflow-wrap: break-word;
    }

    &__content {
        @include text-card-body;
    }
    & > .button-container {
        margin-top: 0;
    }
    &__button {
        @include button-secondary-dark-no-hover;
    }
}


