// Gdy karta ma nadane własne specyficzne tło
a.card {
    @include mask-on-hover($rounded:false, $bg-color: $grey, $bg-hover-opacity: 0.1);
}

@include element-on-bg('light') {
    .card:not([class*="bg-"]),
    .card.bg-transparent {
        @include antialiasing($white);
        background-color: rgba(map-get(map-get($color, box-bg), light), 0.05);
        color: map-get(map-get($color, box-typo), dark);
        .lazy-img-container--loading {
            background-color: map-get(map-get($color, button-neutral),light);
        }
    }
    .card__button {
        @include button-secondary-dark-no-hover;
    }
    a.card {
        @include hover {
            & > .button-container > .card__button {
                @include button-secondary-dark-hover;
            }
        }
    }

}

@include element-on-bg('dark') {
    .card:not([class*="bg-"]),
    .card.bg-transparent {
        background-color: map-get(map-get($color, box-bg), dark);
        color:  map-get(map-get($color, box-typo),dark);
        .lazy-img-container--loading {
            background-color: map-get(map-get($color, button-neutral),dark);
        }
    }
    .card__button {
        @include button-secondary-dark-no-hover;
    }
    a.card {
        @include hover {
            & > .button-container > .card__button {
                @include button-secondary-dark-hover;
            }
        }
    }
}
// Gdy karta ma nadane własne specyficzne tło
@include element-on-bg($bg-type: 'dark', $parent: '.card', $current: '', $use_only_defined_parent: true) {
    color: map-get(map-get($color, box-typo), light);
    .card__button {
        @include button-secondary-light-no-hover;
    }
}
@include element-on-bg($bg-type: 'light', $parent: '.card', $current: '', $use_only_defined_parent: true) {
    color: map-get(map-get($color, box-typo), dark);
    .card__button {
        @include button-secondary-dark-no-hover;
    }
}