.block-cta {
    @if($block-cta-is-in-grid) {
        @include main-grid-margins;
    }
    @else {
        max-width: $block-cta-max-width;
        margin: {
            left: $block-cta-vertical-margins;
            right: $block-cta-vertical-margins;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $block-cta-gap;

    &.block {
        @include block-padding($block-cta-padding);
    }
    &__title {
        @include text-big-link-title;
        text-align: $block-cta-title-text-align;
    }
    &__text {
        flex-grow: 1;
        @include text-highlight-small;
        @include wcag-aaa-column-width;
        text-align: $block-cta-content-text-align;
    }
    &__button {
        text-align: $block-cta-button-text-align;
        // FIXME - modyfikator "--transcription" do usunięcia - specyficzny dla jednego projektu
        &--transcription {
            @include button-secondary-dark;
        }
    }
}
@if map-has-key($block-cta-padding,'desktop'){
    @each $key,$val in map-get($block-cta-padding,'desktop') {
        .block-cta.block{
            padding-#{$key}: $val;
        }
    }
}
@if map-has-key($block-cta-padding,'mobile'){
    @each $key,$val in map-get($block-cta-padding,'mobile') {
        @include media-mobile {
            .block-cta.block{
                padding-#{$key}: $val;
            }
        }
    }
}

@include element-on-bg('dark') {
    .block-cta {
        &__button {
            @include button-primary-light;
        }
    }
}
@include element-on-bg('light') {
    .block-cta {
        &__button {
            @include button-primary-dark;
        }
    }
}