@use 'sass:math';
.block-gallery {
    @include main-grid;
    display: flex;
    flex-wrap: wrap;
    gap: global-unit();
    @include block-padding($block-gallery-padding);
    & .gallery-item {
        display: block;
        position: relative;
        flex: 1;
        color: $color-neutral-light;
        cursor: pointer;
        overflow: hidden;
        &__background {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            transition-property: transform;
            transition-duration: $hover-transition-duration;
            pointer-events: none;
        }
        @include hover {
            .gallery-item__background {
                transform: scale(1.1);
            }
        }
        &-picture,
        &-video {
            .gallery-item__background {
                box-shadow: inset 0px 0px 100px $color-neutral-dark;
            }
            .gallery-item__button {
                filter: drop-shadow(0 0 8px $color-neutral-dark);
            }
            @include hover {
                .gallery-item__button {
                    color: map-get(map-get($color,'button-vivid'),'dark');
                }
            }
        }
        &-audio {
            background-color: map-get(map-get($color,'button-vivid'),'light');
            svg { 
                transform: translateX(10%);
            }
            @include hover {
                .gallery-item__button {
                    color: map-get(map-get($color,'button-vivid'),'dark');
                }
            }
        }
        &__button {
            @include button-secondary-light-no-hover;
            position: absolute;
            width: 2 * $global-unit;
            height: 2 * $global-unit;
            left: calc(50% - $global-unit);
            top: calc(50% - $global-unit);
            padding: calc($global-unit - 12.5px);
            border: 0;
            pointer-events: none;
            border-radius: $gallery-buttons-border-radius;
        }
        &__description {
            position: absolute;
            left:  global-unit();
            bottom:  global-unit();
            height: 17px;
            pointer-events: none;
            & > svg {
                width: 19px;
                height: 9px;
                display: inline-block;
            }
        }
        &__duration {
            margin-left: global-unit(0.1667);
            @include text-caption;
            color: $color-neutral-light;
        }
    }
    &--layout-square > .gallery-item {
        min-width: calc(25% - global-unit(0.75));
        min-height: columns-with-gutter(2.5,1.5);
        aspect-ratio: 1;
        @include media-mobile(){
            min-width: calc(50% - global-unit(0.5));
            // min-height: columns-with-gutter(2,1);
            min-height: auto;
        }
    }
    &--layout-landscape > .gallery-item {
        min-width: calc(50% - global-unit(0.5));
        min-height: columns-with-gutter(3.75,3);
        aspect-ratio: 1.333;
        @include media-mobile(){
            min-width: 100%;
            min-height: auto;
        }
    }
    &--layout-portrait > .gallery-item {
        min-width: calc(33% - global-unit(0.6667));
        min-height: columns-with-gutter(4.4444,3.1111);
        aspect-ratio: 0.75;
        @include media-mobile(){
            min-width: 100%;
            min-height: auto;
        }
    }
    &--layout-square.with-tail,
    &--layout-portrait.with-tail, 
    &--layout-landscape.with-tail {
        .gallery-item:last-of-type {
            aspect-ratio: unset;
            height:column-width(6);
            @include media-mobile {
                height: auto;
            }
        }
    }
    &__popup {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $color-neutral-dark;
        z-index: $menu-popup-z-index;
        transition-property: visibility, opacity;
        transition-duration: $hover-transition-duration;
        &.popup--open {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            .block-slider .slider-component .slide-content:not(.next):not(.prev){
                visibility: visible;
                & .video-player{
                    visibility: visible;
                }
            }
            .block-slider .slider-component .slide-content.next .video-player__button,
            .block-slider .slider-component .slide-content.prev .video-player__button {
                visibility: hidden!important;
            }
            .block-slider__navigation {
                &__btn-left,
                &__btn-right {
                    pointer-events: all;
                }
            }
        }
        & .block-slider {
            height: 100%;
            &__slides:after {
                content: none;
            }
            & .slider-component {
                height: 100%;
                & .slide-content {
                    padding: 0;
                    gap: global-unit(2);
                    &:not(.next):not(.prev){
                        visibility: hidden;
                    }
                    &::before {
                        content: none;
                    }
                    & .video-player {
                        visibility: hidden;
                    }
                }
                & .block-slider__slide__image {
                    position: relative;

                    & > img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            &__navigation {
                &__btn-left,
                &__btn-right {
                    pointer-events: none;
                }
            }
        }
        &__closer {
            position: absolute;
            @include button-primary-light;
            
            border-radius: $block-slider-buttons-border-radius;
            
            width: $block-gallery-button-close-size;
            height: $block-gallery-button-close-size;

            right: global-unit();
            top: global-unit();
            border: 0;
            z-index: 1;
            cursor: pointer;


            @include media-mobile {
                padding: {
                    left: $small-unit;
                    right: $small-unit;
                    top: 0.5 * $small-unit;
                    bottom: 0.5 * $small-unit;
                }
            }
            & > span {
                position: absolute;
                width:calc(1.3333 * #{$global-unit});
                height: 1px;
                left: calc(50% - 16px);
                top: calc(50% - 1px);
                background-color: map-get(map-get($color,'button-typo'),'dark');
                transform: scale(1, 1) rotate(135deg);
                transition-property: background-color;
                transition-duration: $hover-transition-duration;
                &:first-child {
                    transform: scale(1, 1) rotate(45deg);
                }
            }
        }
    }
}