.block-highlight {
    @include main-grid;
    @include block-padding($block-highlight-padding);
    &__text {
        @include text-highlight;
        p {
            @include wcag-aaa-column-width;
        }
        @each $key,$val in map-get($block-highlight-text-grid-column,'desktop') {
                #{$key}: $val;
        }
        @each $key,$val in map-get($block-highlight-text-grid-column,'mobile') {
            @include media-mobile {
                    #{$key}: $val;
            }
        }
    }
    &__footer {
        text-align: $block-highlight-caption-text-align;
        @include text-caption;
        @include wcag-aaa-column-width-caps;
        @each $key,$val in map-get($block-highlight-caption-margin,'desktop') {
            margin-#{$key}: $val;
        }
    }
}