.block-image {
    @include main-grid;
    &.block {
        @include block-padding($block-image-padding);
    }
    &__image {
        grid-column: 1 / span 7;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__texts {
        grid-column: 8 / span 5;
    }
    &__caption,
    &__credits {
        @include text-caption;
    }
    @include media-mobile {
        .image-container,
        .image-container--wide,
        .block-image__texts {
            grid-column: 1 / -1;
        }
        .image-container,
        .image-container--wide {
            $columnsCount: 4;
            max-height: get-image-container-max-height($columnsCount);
        }
    }
}
