.block-lead {
    @include main-grid;
    @include block-padding($block-lead-padding);
    grid-auto-flow: row dense;
    &__image {
        grid-column: $block-lead-image-grid-column-desktop;
        @include media-mobile {
            grid-column: $block-lead-image-grid-column-mobile;
        }
        & img {
            width: $block-lead-image-width;
            height: auto;
        }
        & ~ .block-lead__lead {
            grid-column: $block-lead-text-grid-column-after-image;
            @include media-mobile {
                grid-column: $block-lead-image-grid-column-mobile;
            }
        }
    }
    &__lead {
        grid-column:$block-lead-text-grid-column-desktop;
        @include text-lead;
        @include wcag-aaa-column-width;
        @include media-mobile {
                grid-column: $block-lead-image-grid-column-mobile;
        }
    }
}