@use 'sass:map';
.block-quick-links {
    @include main-grid-margins;
    @include block-padding($block-quick-links-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: $block-quick-links-gap-desktop;
    @include media-mobile {
        gap: $block-quick-links-gap-mobile;
    }
    .quick-link {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;
        max-width: $quick-link-max-width; //calc(50% - #{global-unit()});
        min-width:$quick-link-min-width;
        @each $key,$val in map-get($quick-link-padding,'desktop') {
            padding-#{$key}: $val;
        }
        gap: $quick-link-inner-gap;
        @include media-mobile {
            min-width: calc(50% - #{global-unit()});
            max-width: 100%;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: $quick-link-inner-gap;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 1;
        }
        &__image {
            margin-top: auto;
            & img {
                display: block;
                max-width: 170px;
                max-height: 170px;
                width: auto;
                height: auto;
            }
        }
        &__text {
            max-width: 50em;
            @include text-caption;
        }
        &__button { 
            @include button-link-dark(false);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @if($quick-link-border-vertical-enabled) {
            position: relative;
            &::before {
                $quick-link-padding-vertical: map.get( 
                    map.get($quick-link-padding, desktop ), 
                    top
                );
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: $quick-link-padding-vertical;
                width: $quick-link-border-width;
                height: calc(100% - calc(#{$quick-link-padding-vertical * 2}) );
                background-color: currentColor;
            }
        }
        @if($quick-link-border-horizontal-enabled) {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: $quick-link-border-width;
                background-color: currentColor;
            }
        }
    }
}
