.block-quick-links {
    .quick-link {
        .quick-link__button {
            @include button-secondary-dark-no-hover;
        }
        @include hover {
            .quick-link__button {
                @include button-secondary-dark-hover;
            }
        }
    }
}

@include element-on-bg($bg-type: 'light', $parent: ".page-section", $current: 'a.quick-link') {
    .quick-link__button {
        @include button-secondary-dark-no-hover;
    }
    @include hover {
        .quick-link__button {
            @include button-secondary-dark-hover;
        }
    }
}

@include element-on-bg($bg-type: 'dark', $parent: ".page-section", $current: 'a.quick-link') {
    .quick-link__button {
        @include button-secondary-light-no-hover;
    }
    @include hover {
        .quick-link__button {
            @include button-secondary-light-hover;
        }
    }
}