.block-slider {
    width: 100%;
    position: relative;
    color: $white;
    // border: 5px solid red;
    &.block {
        padding: 0;
    }
    .slider-component {
        position: relative;
        height: calc(70vh + #{global-unit(4)});
        width: 100%;
        opacity: 1;
        transition-property: opacity ;
        transition-duration: 0.2s;
        transition-delay: $hover-transition-duration;;
    }
    &__navigation {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &__btn-left,
        &__btn-right {
            pointer-events: all;
            z-index: 100;
            border: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: calc(50% - global-unit());
            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: background-color, color, opacity, visibility;
            transition-duration: $hover-transition-duration;
            @include button-secondary-light;
            border-radius: $block-slider-buttons-border-radius;
            // @include hover {
            //     @include button-secondary-light-hover;
            // }
            display: flex;
            justify-content: center;
            align-items: center;
            height: $block-slider-buttons-size;
            width: $block-slider-buttons-size;
            svg { 
                display: block;
                height:  32px;
                width: auto;
                transform-origin: center;
                pointer-events: none;
            }
            &.visible {
                opacity: 1;
                visibility: inherit;
            }
        }
        &__btn-left {
            left: global-unit();
            svg {
                transform: rotate(180deg)
            }
        }
        &__btn-right {
            right: global-unit();
        }
    }
    &__slides {
        outline: none;
        position: relative;
        height: 100%;
        overflow: hidden;
        margin: {
            left: global-unit(4);
            right: global-unit(4);
            top: global-unit(2);
            bottom: global-unit(2);
        };
        @include media-mobile {
            & {
                margin: {
                    left: global-unit();
                    right: global-unit();
                }
            }
        }
    }
    &__slide {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 1;
        }
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; 
        right:0;
        height: calc(100% - global-unit(4));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: {
            top: global-unit(2);
            bottom: global-unit(2);
        };
        opacity: 1;
        visibility: visible;
        transition: transform 0.75s cubic-bezier(.91,.9,.2,.99) , opacity 0.75s ease-in-out, visibility 0.75s;
        transform: translateX(0);
        &__image {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        &.next {
            opacity:1;
            visibility: hidden;
            transform: translateX(100%);
        }
        &.prev {
            opacity: 1;
            visibility: hidden;
            transform: translateX(-100%); 
        }
    }
    .slide-content {
        overflow: hidden;
        padding: {
            left: global-unit(4);
            right: global-unit(4);
        };
        &__text {
            // @include text-quote;
            @include antialiasing($white);
            margin-bottom: global-unit(1);
            text-align: center;
            filter: theme-text-shadow-filter();
        }
        &__button {
            z-index: 1;
        }
        &__description {
            @include text-box-body;
        }
        .line {
            transform: translateY(#{global-unit(-1)});
            width: 100%;
            max-width: calc(#{column-width(2)} + #{global-unit(1)}) ;
            &__inner {
                // @include arrow-line-horizontal();
            }
        }
        &__description ,
        &__button,
        &__text,
        .line {
            z-index: 1;
        }
    }
}