.block-subheading {
    @include main-grid;
    @include block-padding($block-subheading-padding);
    & h3 {
        grid-column: $block-subheading-h3-grid-column-desktop;
        @include wcag-aaa-column-width;
        @include media-mobile {
            grid-column: $block-subheading-h3-grid-column-mobile;
        }
    }
}