@mixin headings-vertical-offsets {
    @each $key,$val in map-get($block-text-heading-margins,'desktop') {
        margin-#{$key}: $val;
    }
    @each $key,$val in map-get($block-text-heading-margins,'mobile') {
        @include media-mobile {
            margin-#{$key}: $val;
        }
    }
}

.block-text {
    @include main-grid;
    @include block-padding($block-text-padding);
    @include text-body; 
    max-width: $main-grid-max-width;
    &__inner {
        grid-column: $block-text-inner-grid-column-desktop;
        @include media-mobile {
            grid-column: $block-text-inner-grid-column-mobile;
        }
    }
    h2 {
        @include headings-vertical-offsets;
    }
    h3 {
        @include headings-vertical-offsets;
    }
    h4,h5,h6 {
        margin: global-unit(1) 0;
        font-weight: 700;
    }
    p {
        max-width: 50em;
        margin: {
            bottom: $block-text-paragraph-margin-bottom;
        }
    }
    .lead {
        @each $key,$val in map-get($block-text-lead-margin,'desktop') {
            margin-#{$key}: $val;
        }
        @each $key,$val in map-get($block-text-lead-margin,'mobile') {
            @include media-mobile {
                margin-#{$key}: $val;
            }
        }
    }
    /* WCAG AAA */
    p,.lead, ul, ol, h2, h3,h4,h5, h6 {
        @include wcag-aaa-column-width;
    }

    & > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    a {
        @include style-inline-links;
        // @include link-dark;
        transition: color $hover-transition-duration;
        
    }

    /* lists */
    li p {
        margin-bottom: 0;
    }
    ul {
        list-style-type: disc;
        list-style-position: outside;   
        padding-left: 1em; //0.5em
        margin-bottom: $block-text-paragraph-margin-bottom; //1em;
        margin-top: 1em;
        margin-left: 0.5em;
    }
    ol { 
        list-style-type: decimal; 
        list-style-position: outside;
        padding-left: 1em;//0.5em;
        margin-bottom: 1em;
        margin-left: 0.5em;
    }
    ul ul, 
    ol ul { 
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 1.25em;

        margin-left: 0;
    }
    ol ol, 
    ul ol { 
        list-style-type: lower-latin; 
        list-style-position: outside;
        padding-left: 0;
        margin-left: 0;
    }
    ol {
        list-style: none; 
        counter-reset: li;
        & > li::before {
            content: counter(li) ". "; 
            display: inline-block; 
            margin-left: -1em;
            margin-right: 0.2em;
        }
        li {
            counter-increment: li
        }
        ol {
            list-style: none; 
            counter-reset: li;
            padding-left: 1.25em;
            
            ol li {
                margin-left: 1em;
            }
            li:before {
                content: counters(li, ".") ". ";

            }
        }
    }

    li >  ul,
    li >  ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* WP Editor inline images */

    img,
    img[class*="align"],
    img[class*="wp-image-"],
    img.size-full {
        display: block;
        width: 100%;
        height: auto;
    }
    figure,
    .wp-caption {
        max-width: 100%;
        min-width:100%;
        margin-bottom: 1.25em;
        margin-top: 1.25em;
    }
    .wp-caption-text {
        margin-top: 0.75em;
    }
    iframe {
        width: 100%;
        height: 56.25%;
    }
    .iframe-wrapper {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@include element-on-bg('light' ) {
    .block-text  {
        a {
            @include link-dark;
        }
    }

}
@include element-on-bg('dark' ) {
    .block-text  {
        a {
            @include link-light;
        }
    }
}