{% if (block.audio_id is defined and block.audio_id is not empty) %}
<div class="block block-audio" >
    {% if block.title is defined and block.title is not empty %}
        <div class="block-audio__title">{{block.title}}</div>
    {% endif %}
    {% if block.subtitle is defined and block.subtitle is not empty %}
        <div class="block-audio__subtitle">{{block.subtitle}}</div>
    {% endif %}
    {% include "_partials/blocks/parts/audio_player.twig" with {audioId: block.audio_id } %}
    {% if block.description is defined and block.description is not empty %}
        <div class="block-audio__description">{{block.description|wpautop|shortcodes}}</div>
    {% endif %}
</div>
{% endif %}