{% set columns = block.auto_cards_options__columns is defined  ?  block.auto_cards_options__columns : '' %}

{% if block[block._type ~ '__block'] is defined and block[block._type ~ '__block']|length > 0 %}
<div class="block block-cards {{columns}}" >
    <div class="block__inner">
    {% for link in block[block._type ~ '__block'] %}
        {% include "_partials/blocks/parts/card.twig" %}
    {% endfor %}
    </div>
</div>
{% endif %}