{% import "_macros/button-link-macro.twig" as Button %}

{% set columns = block.big_links_options__columns is defined  ?  block.big_links_options__columns : '' %}

{% if block.big_links__block is defined and block.big_links__block|length > 0 %}
<div class="block block-big-links {{columns}}" >
    {% for link in block.big_links__block %}
        {% set image = link.image is defined and link.image is not empty ? Image(link.image) : false %}
        {% set bgImageUrl = image ? image.src('medium') : "" %}
        {% set withBackgroundImageClass = bgImageUrl ? ' with-image ' : "" %}
        {% set isLink =  link.button_url is defined  and link.button_url is not  empty ? true : false %}
        {% if isLink %}
            <a href="{{link.button_url}}" class="big-link {{withBackgroundImageClass}}">
            {% else %}
            <div class="big-link {{withBackgroundImageClass}}">
        {% endif %}
        {% if bgImageUrl %}
            <div class="big-link__background img-background" data-lazy-loading-src={{bgImageUrl}} ></div>
            {# <div class="big-link__background" data-lazy-loading-src={{bgImageUrl}} style="background-image: url({{bgImageUrl}})"></div> #}
        {% endif %}

        {% if link.title %}
            <p class="big-link__title">{{link.title}}</p>
        {% endif %}
        {% if link.text %}
            <p class="big-link__text">{{link.text|nl2br|shortcodes}}</p>
        {% endif %}

        {% if link.button_label %}
            <div class="button-container">
                {% set buttonType = not isLink  ? 'text-button' : 'link-button' %}
                {{Button.LinkButton(link.button_label, "", "big-link__button big_link__button " ~ buttonType )}}
            </div>
        {% endif %}

        {% if isLink %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}