
{% set columns = block.cards_options__columns is defined  ?  block.cards_options__columns : '' %}
{% set filtersCriteria = getEnabledFiltersFromBlock(block) %}
{% set filtersPostType = block.post_type %}

{% if block[block._type ~ '__block'] is defined and block[block._type ~ '__block']|length > 0 %}
<div class="block block-cards {{columns}}" >
    {% include "_partials/blocks/parts/auto_cards_filters.twig" %}
    <div class="block__inner">
    {% for link in block[block._type ~ '__block'] %}
        {% include "_partials/blocks/parts/card.twig" with { filterTaxonomiesSlugs: filtersCriteria } %}
    {% endfor %}
    </div>
</div>
{% endif %}