{% import "_macros/button-link-macro.twig" as Button %}

{% if (block.title is defined and block.title is not empty) or (block.text is defined and block.text is not empty) or (block.href is defined and block.href is not empty) or (block.button_text is defined and block.button_text is not empty) %}
<div class="block block-cta">
    {% if  block.title %}
        <h3 class="block-cta__title">{{block.title}}</h3>
    {% endif %}
    {% if block.text %}
        <div class="block-cta__text">{{block.text}}</div>
    {% endif %}
    {% if block.button_text %}
        {% set buttonType = not block.href  ? 'text-button' : 'link-button' %}
        {{Button.LinkButton(block.button_text, block.href, " block-cta__button "  ~ buttonType )}}
    {% endif %}
</div>
{% endif %}