{% if block.image_list is defined and block.image_list|length > 0 %}

{% set withTail =  (block.gallery_options__layout == 'portrait' and block.image_list|length % 3 == 1 ) or (block.gallery_options__layout != 'portrait' and block.image_list|length % 4 == 1) ? 'with-tail' : '' %}
<div class="block block-gallery block-gallery--layout-{{block.gallery_options__layout}} {{withTail}}" >
    {% for image in block.image_list %}
        {% if image is defined and image is not empty %}
            {% set type = Image(image).fileformat == 'mp3' ? 'audio' : (Image(image).media_video_link ? 'video' : 'picture') %}
            {% set bgImageUrl = Image(image) ? Image(image).src('medium') : "" %}
            {% set linkLabelForMediaType = type == 'audio' ? __('Click to listen (opens in popup)', backend_base_text_domain) : __('Click to view (opens in popup)', backend_base_text_domain) %}
            {% set ariaLabelForLink = linkLabelForMediaType ~ " " ~ __('title', backend_base_text_domain)  ~ " " ~ Image(image).post_title %}

            <a href="{{bgImageUrl}}" class="gallery-item gallery-item-{{type}} popup-component-caller" aria-label="{{ariaLabelForLink}}" aria-haspopup="dialog"  data-target="popup-{{blockID}}" data-index="{{(loop.index - 1)}}">
                {% if bgImageUrl %}
                    <div class="gallery-item__background" data-lazy-loading-src="{{bgImageUrl}}"></div>
                {% endif %}
                {% if type == 'audio' or type == 'video' %}
                    {% include "_partials/blocks/parts/gallery_audiovideo.twig" %}
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
    {% set block = block|merge({'slider':block.image_list|prepareSlideList}) %}
    <div class="block-gallery__popup popup-component" id="popup-{{blockID}}" role="dialog">
        {% include "_partials/blocks/slider.twig" %}
        <button class="block-gallery__popup__closer popup-component-closer" aria-label="{{__('Close', backend_base_text_domain)}}">
            <span></span>
            <span></span>
        </button>
    </div>
</div>
{% endif %}