{% if (block.text is defined and block.text is not empty) or (block.caption is defined and block.caption is not empty) %}
<div class="block block-highlight ">
    {% if block.text is defined and block.text is not empty %}
        <blockquote class="block-highlight__text highlight">
            {{ block.text|wpautop|shortcodes}}
            {% if block.caption is defined and block.caption is not empty %}
                <footer class="block-highlight__footer">{{ block.caption}}</footer>
            {% endif %}
        </blockquote>
    {% endif %}
</div>
{% endif %}