{% if (block.image is defined and block.image is not empty) or (block.caption is defined and block.caption is not empty) or (block.credits is defined and block.credits is not empty) %}
<div class="block block-image ">
    {% if block.image %}
        {% include "_partials/blocks/parts/media.twig" with { classes:' block-image__image', imageId: block.image, videoId: block.video_id, playButtonLabel: playButtonLabel  } %}
    {% endif %}

    {% if (block.caption is defined and block.caption is not empty) or (block.credits is defined and block.credits is not empty) %}
        <div class="block-image__texts">
            {% if block.caption is defined and block.caption is not empty %}
                <p class="block-image__caption">
                    {{block.caption|nl2br|shortcodes}}
                </p>
            {% endif %}
        {% if block.credits is defined and block.credits is not empty %}
            <p class="block-image__credits">
                {{block.credits}}
            </p>
        {% endif %}
        </div>
    {% endif %}
</div>
{% endif %}