{% import "_macros/image-macro.twig" as ImageMacro %}

{% if (block.image is defined and block.image is not empty) or (block.lead is defined and block.lead is not empty) %}
    <div class="block block-lead">
        {% set image = block.image is defined and block.image is not empty ? Image(block.image) : false %}
        {% if image %}
            {{ ImageMacro.Image(block.image, _context, "block-lead__image ") }} 
        {% endif %}
        <div class="lead block-lead__lead">{{block.lead|wpautop|shortcodes}}</div>
    </div>
{% endif %}