{% set quickLinks = block.quick_links__block is defined and block.quick_links__block is not empty ? block.quick_links__block : false %}

{% if quickLinks and quickLinks|length > 0 %}
    {% set columnsLength = quickLinks|length %}
    <div class="block block-quick-links col-number-{{columnsLength}} col-{{columnsLength}}" >
        {% for quickLink in quickLinks %}
            {% include "_partials/blocks/parts/quick_link.twig" with {'col_number': block.quick_links__link|length} %}
        {% endfor %}
    </div>
{% endif %}