{% if block.slider|length > 0 %}
    <div class="block block-slider" aria-label="Blok Slider" >
        <div class="slider-component" style="opacity: 0;">
            <div class="block-slider__slides" role="group">
                {% for slide in block.slider %}
                    {% set slideImage = slide.image is defined and  slide.image is not empty ? Image(slide.image) : false %}
                    {% set slideImageSrc = slide.type == 'audio' ? '' : (slideImage ? slideImage.src('large') : '') %}
                    {% set slideImageAlt = slideImage ? slideImage.alt : "" %}
                    {% set imagePresentationRoleAttr = slideImageAlt is not empty ? "":   'role="presentation"' %}
                    {% set cssClass = loop.first != true ? " next" : "" %}
                    {% set label = (slide.type == 'audio') ? gallery_audio_slide_label ~ ': ' ~ slide.description|e('html') : ((slide.type == 'video') ? gallery_video_slide_label : gallery_picture_slide_label) %}
                    
            <div class="block-slider__slide slide-content {{cssClass}}" role="group" tabindex="0" aria-label="{{__('Slide', backend_base_text_domain)}} {{loop.index}} {{__('of', backend_base_text_domain)}} {{loop.length}}" >
                        {% if slide.type == 'audio' %}
                            {% include "_partials/blocks/parts/audio_player.twig" with {'audio_file': slideImage.src} %}
                        {% elseif slide.type == 'video' %}
                            {% include "_partials/blocks/parts/video_player.twig" with {'videoId': slide.video, 'videoCover': slide.image, 'yt_video_autoplay': true } %}
                        {% elseif slideImageSrc is not empty %}
                            <figure class="block-slider__slide__image">
                                <img src="{{slideImageSrc}}" alt="{{slideImageAlt}}" {{imagePresentationRoleAttr}} >
                            </figure>
                        {% endif %}
                        {% if (slide.text is defined and slide.text is not empty) or (slide.button_link is defined and slide.button_link is not empty) %}
                            <span class="line"><span class="line__inner"></span></span>
                        {% endif %}
                        {% if slide.text is defined and slide.text is not empty  %}
                            <div class="slide-content__text">{{slide.text}}</div>
                        {% endif %}
                        {% if slide.button_link is defined and slide.button_link is not empty %}
                            <a class="slide-content__button" href="{{slide.button_link}}" >{{slide.button_label}}</a>
                        {% endif %}
                        {% if slide.description is defined and slide.description is not empty  %}
                            <div class="slide-content__description">{{slide.description}}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="block-slider__navigation" >
                <button class="block-slider__navigation__btn-left" tabindex="0"  aria-label="{{__('Show previous slide', backend_base_text_domain)}}">
                    {% include "_partials/blocks/parts/slider_arrow.twig" %}
                </button>
                <button class="block-slider__navigation__btn-right" tabindex="0" aria-label="{{__('Show next slide', backend_base_text_domain)}}">
                    {% include "_partials/blocks/parts/slider_arrow.twig" %}
                </button>
            </div>
        </div>
    </div>
{% endif %}