{% if block.content_rt is defined and block.content_rt is not empty %}
    <div class="block block-text {{block.style}}">
        <div class="block-text__inner">{{ block.content_rt|wpautop|shortcodes }}</div>
    </div>
{% endif %}
