<button 
    class="filters__btn" 
    data-filter-id="{{filterItem.term_id}}" 
    data-filter-taxonomy="{{filterItem.taxonomy}}" 
    data-filter-name="{{filterItem.name}}" 
    data-filter-slug="{{filterItem.slug}}"
    aria-pressed="false"
    >
    <svg class="svg-icon icon-close" aria-hidden="true" viewBox="0 0 10 10" role="presentation">
        <use class="svg-icon--use" xlink:href="{{svg_icons_dir}}/svg-icons.svg#icon_close" />
    </svg>
    <span data-label="{{filterItem.name}}">
        {{filterItem.name}}
    </span>
</button>