{% if filtersCriteria is not empty  %}
    <div class="filters">
        {% for filterSlug in filtersCriteria %}
            <div class="filters__list">
            {% set filtersHeading = 'filter_label_' ~ filterSlug %}
            {% set filters = getTaxonomies(filterSlug,filtersPostType) %}
            {% if filters|length > 0 %}
                <div class="filters__list__label">{{ _context[filtersHeading] }} </div>
                {% for filterItem in filters %}
                    {% include "_partials/blocks/parts/auto_card_filter_button.twig" %}
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %} 
