
{% set image = link.image is defined and link.image is not empty ? Image(link.image) : false %}
{% if image %}
    <figure class="card__image">
        <img src="{{Image(link.image).src('card')}} " alt="{{image.alt()}}" title="{{image.title}}" />
    </figure>
{% endif %}