{% import "_macros/button-link-macro.twig" as Button %}

<div class="button-container">
    {% set buttonType = not isLink  ? 'text-button' : 'link-button' %}
    {{Button.LinkButton(link.button_text, "", "card__button " ~ buttonType )}}
</div>