{% set bgColor = link.bg_color is defined ? link.bg_color : "" %}
{% set isLink =  link.href is defined  and link.href is not  empty ? true : false %}
{% set langAttr = link.lang is defined and link.lang is not empty ? ' lang="' ~ link.lang ~ '"' %}
{% set dataFilterAttrs = generateDataAttributesForFiltering(link.href, filterTaxonomiesSlugs) %}

{% if isLink %}
    <a href="{{link.href}}" class="card {{bgColor}}" {{dataFilterAttrs}}>
    {% else %}
    <div class="card {{bgColor}}" {{dataFilterAttrs}}>
{% endif %}
{% set tagline = link.tagline is defined and link.tagline is not empty ? link.tagline : "" %}

{% if tagline  %}
    <div class="card__header">
        <div class="card__tagline">{{tagline}}</div>
    </div>
{% endif %}
{% if (link.image is defined and link.image is not empty) or (link.video_id is defined and link.video_id is not empty) %}
    {% include "_partials/blocks/parts/media.twig" with { classes:'card__image', imageId: link.image, videoId: link.video_id, playButtonLabel: playButtonLabel, imageSizeSlug: 'medium'  } %}
{% endif %}
{% if link.title %}
    <div class="card__title heading"{{langAttr}}>{{link.title}}</div>
{% endif %}
{% if link.content %}
    <div class="card__content">{{link.content|wpautop|shortcodes}}</div>
{% endif %}
{% if link.button_text %}
    {% include "_partials/blocks/parts/card_button.twig" %}
{% endif %}
{% if isLink %}
    </a>
    {% else %}
    </div>
{% endif %}