<div class="gallery-item__button">
    <svg viewBox="0 0 25 25" aria-hidden="true">
        <use class="svg-icon--use" xlink:href="{{gallery_icons_file_path}}#icon_play" />
    </svg>
</div>
<div class="gallery-item__description">
</div>