{% if videoSrc is defined and videoSrc is not empty %}
    <video class="html-video" preload playsinline muted loop autoplay {% if posterSrc %} poster="{{posterSrc}}"  {% endif %}>
        <source src="{{videoSrc}}" >
    </video>
{% endif %}
