
{% import "_macros/image-macro.twig" as ImageMacro %}

{% set imageSizeSlug = imageSizeSlug is defined and imageSizeSlug is not empty ? imageSizeSlug : ''  %}
{% set image = Image(imageId) %}
{% set imageExt = image|split('.')|last %}
{% set imagePath = imageExt and imageExt == 'gif' ? image.src() :  image.src(imageSizeSlug)%}

{% if videoId is empty %}
    {% if block.audio_id is defined and block.audio_id is not empty %}
        <figure class="{{classes}} lazy-img-container ">
            <img class="lazy-load " src="" data-lazy-loading-src="{{imagePath}}" alt="{{image.alt()}}" title="{{image.title}}" />
            {% include "_partials/blocks/parts/audio_player.twig" with { audioId: block.audio_id } %}
        </figure>
    {% else %}
        {{ ImageMacro.Image("", _context, classes, imagePath, image.title, image.alt) }} 
    {% endif %} 

{% else %}
    {% include "_partials/blocks/parts/provider_video.twig" with { videoId: videoId, coverPath: imagePath } %}
{% endif %}




