{% set playButtonText = playButtonLabel is defined and playButtonLabel is not empty ? playButtonLabel : 'Click to play video' %}
<button class="player__play-btn" aria-label="{{playButtonText}}">
    {% include "_partials/svg/icon-play.svg" %}
</button>