
{# video provider tymczasow hardkodowany...do ustawienia w innym miejscu #}
{# {% set videoProvider = 'youtube' %} #}

{# videoProvider można przekazać w timber context - wartości 'youtube' | 'vimeo' #}
{% if videoId %}
    <div class="player-wrapper"  >
        <div class="player-wrapper__inner"  >
            <div class="player__cover" style="background-image: url({{coverPath}});"></div>
            {% include "_partials/blocks/parts/player_button.twig" with { playButtonLabel : playButtonLabel} %}
            {% if videoProvider is defined and videoProvider is not empty %}
                <div class="player" data-plyr-provider="{{videoProvider}}" data-plyr-embed-id="{{videoId}}"  data-poster="{{coverPath}}" controls></div>
            {% endif %}
        </div>
    </div>
{% endif %}