{% import "_macros/button-link-macro.twig" as Button %}

{% if quickLink %}
    <a href="{{ quickLink.url|e('esc_url') }}" 
    class="quick-link quick-link--col-{{col_number ? col_number : '1' }}" >
        <div class="quick-link__wrapper" >
            {% if quickLink.text %}
                <p class="quick-link__text">{{ quickLink.text|nl2br|shortcodes }}</p>
            {% endif %}
            {% if quickLink.btn_label %}
                {{Button.LinkButton(quickLink.btn_label, "", "quick-link__button "  )}}
            {% endif %}
        </div>
    </a>
{% endif %}