{% set urlBase = 'https://www.youtube.com/embed/' %}
{% set videoBaseParams =  '?mute=0&enablejsapi=1'%}

{% set loopedParams = yt_video_loop is defined and yt_video_loop is not empty  ? '&loop=1' ~ '&playlist=' ~ videoId : '&loop=0'%}
{% set autoPlayParams = yt_video_autoplay is defined and yt_video_autoplay is not empty ?  '&autoplay=1' : '&autoplay=0' %}
{% set videoSrc = urlBase ~ videoId ~ videoBaseParams ~ loopedParams ~ autoPlayParams %}

<div class="video-player" >
        <div class="video-player__inner yt-emeded-native">
                <iframe
                width="560"
                height="315"
                title="youtube video container"
                data-src="{{videoSrc}}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                allowfullscreen
                ></iframe>
        </div>
</div>
