<div class="site-footer__inner">
    {% include "_partials/components/parts/social_media_links.twig"%}
    {% include "_partials/components/parts/footer_navigation.twig" %}
    {# {% include "_partials/components/parts/footer_logo.twig" %} #}
</div>