{% set tags = [] %}
{% set pageNameSufix =  ' - ' ~ site.name  ~ ' ' ~ site.description %}
{% set fullSiteName =  site.name  ~ ' ' ~ site.description %}
<title>{{ page.title and not is_front_page ? page.title ~ pageNameSufix : fullSiteName }}</title>
