{% import "_macros/button-link-macro.twig" as Button %}
{% import "_macros/image-macro.twig" as ImageMacro %}
<section class="hero-section">
    {% set hasImage = hero.standard.image is defined and hero.standard.image is not empty %}
    {% set imageInBackground = hasImage and hero.standard.image_layout_variant is defined and hero.standard.image_layout_variant == 'cover' %}

    <div class="hero hero-standard {{imageInBackground ? 'with-bg-picture' : 'no-bg-picture'}} {{hero.standard.video_id is defined and hero.standard.video_id is not empty ? 'with-video' : ""}}">
        {% if imageInBackground %}
        <div class="hero__background" style="background-image: url( {{Image(hero.standard.image).src('large')}} );" ></div>
        {% endif %}
        <div class="hero__texts">
            <h1 class="hero__title page-title">{{is_front_page ? site.name : page.title}}</h1>
            {% if hero.standard.lead is not empty %}
                <p class="hero__lead lead">{{hero.standard.lead}}</p>
            {% endif %}
        </div>
        {% if hasImage and imageInBackground is same as(false) %}
            {{ImageMacro.Image('', false, 'hero__image', Image(hero.standard.image).src('medium'))}}
        {% endif %}
        {% if hero.standard.video_id is defined and hero.standard.video_id is not empty %}
            <div class="hero__video">
                {# {% include "_partials/blocks/parts/html_video.twig" with { videoSrc:hero.standard.video_id is defined and hero.standard.video_id is not empty ?  Image(hero.standard.video_id).src : false } %} #}
                {% include "_partials/blocks/parts/provider_video.twig" with { videoId: hero.standard.video_id } %}
            </div>
        {% endif %}
    </div>
</section>
