{% if modules_enabled.preloader %}
{# Tu trzeba dodać instrukcję warunkową weryfikującą, czy referer jest z tej samej domeny #}
<div class="preloader">

    <div class="preloader__curtain">
    </div>
    <div class="preloader__animation">
    </div>
</div>
<script type="text/javascript" src="{{template_uri ~ '/js/preloader.js'}}" id="preloader-js"></script>
{% endif %}