{% set primaryContentClasses = primaryContentClasses is not empty ? primaryContentClasses : '' %}
{% if primary_content is defined and primary_content is not empty %}
    <div class="page-section {{primaryContentClasses}}">
        {% for block in primary_content  %}
            {% include "_partials/blocks/" ~ block._type ~ ".twig" %}
        {% endfor %}
    </div>
{% endif %}