{% set headerType  =  sectionSubTitle is not empty ? 'with-subheading' : 'standard' %}
{% set sectionHeadingColor = section is defined and section.section__headings_text_color is defined ? section.section__headings_text_color : "" %}
{% if sectionTitle or sectionSubTitle %}
    <div class="page-section__header section-header {{headerType}} {{sectionHeadingColor}}" >
        <div class="section-header__inner">
            {% if sectionTitle %}
                {% include "_partials/components/parts/section_title.twig" %}
            {% endif %}
            {% if sectionSubTitle %}
                {% include "_partials/components/parts/section_subtitle.twig" %}
            {% endif %}
        </div>
    </div>
{% endif %}