{{function('get_header')}}
    <main id="main-container" class="main-container">
        {% block main_container %}
            
            <div class="main-content">
                {% block main_content %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block before_footer %}
            {% include "./_partials/components/before_footer.twig" %}
        {% endblock %}
    </main>
{{function('get_footer')}}
