    <footer class="site-footer bg-footer" >
        {% block footer %}
            {% include "./_partials/components/footer.twig" %}
        {% endblock %}
    </footer>

    {% block after_footer %}
        {% include "./_partials/components/after_footer.twig" %}
    {% endblock %}
    {{ function('wp_footer') }}
    </body>
</html>

