<!doctype html>
<html {{current_language_html_attribute}}>

{% block html_head_container %}
    {% include 'html_head.twig' %}
{% endblock %}
    <body {% block body_class %}class="{{fn('get_body_class')|join(' ')}}"{% endblock %} {% block body_style %}{% endblock %}>
        {% block skip_links_block %}
            {% include "./_partials/components/before_header.twig" %}
        {% endblock %}
        
        <header class="site-header" >
            {% block header %}
                {% include "./_partials/components/site_header.twig" %}
            {% endblock %}
        </header>
