<head>
    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0" />
    {% include "_partials/components/head_seo.twig" %}
    {{ function('wp_head') }}
    <link rel="icon" type="image/png" href="{{ img_dir }}/favicons/favicon.png"/>
    <link rel="shortcut icon" href="{{ img_dir }}/favicons/favicon.ico"/>

</head>