{% extends 'base.twig' %}

{% block main_container %}

    {% include "_partials/components/hero.twig" %}
    {% block after_hero %}
        {# empty for extending #}
    {% endblock %}

    {% block sections %}
        {% for section in page_sections_container %}
            {% set sectionBgColor =  section.page_sections__container_color is defined ? section.page_sections__container_color : '' %}
            {% set sectionTitle = section.section__title  is defined  ? section.section__title : '' %}
            {% set sectionSubTitle = section.sections__subtitle is defined ? section.sections__subtitle : '' %}
            {% set sectionBgImage = section.section__background_img is defined ? section.section__background_img : "" %}
        
            <section class="page-section {{ sectionBgColor }}{% if sectionBgImage %} section-with-image {% endif %}">

                {% include "_partials/components/section_background.twig" with  { sectionBgImage : sectionBgImage, sectionBgColor : sectionBgColor, sectionHeadingColor : section.section__headings_text_color } %}
                {% include "_partials/components/section_header.twig" %}

                {% if section.sections__blocks is defined and section.sections__blocks is not empty  %}
                    {% set sectionID = loop.index %}
                    {% for block in section.sections__blocks %}
                        {% set blockID = sectionID ~ '_' ~ loop.index %}
                        {% include "_partials/blocks/" ~ block._type ~ ".twig" %}
                    {% endfor %}
                {% endif %}

            </section>
        {% endfor %}
    {% endblock %}

{% endblock %}
