<div class="newsletter">
    <div class="newsletter__cta">{{newsletter_title}}</div>
    {# {% include "_partials/blocks/parts/line-separator.twig" %} #}
    <div class="newsletter__success"></div>
    <div class="newsletter__error"></div>
    <div class="newsletter__content">
        <div class="newsletter__inputs">
            <input type="text" class="newsletter__email" />
            <div class="newsletter__rodo-part">
                <input type="checkbox" class="newsletter__checkbox">
                <div class="newsletter__rodo">
                    {{newsletter_rodo_fragment}}
                    <div class="newsletter__rodo__hidden">
                        {{newsletter_rodo_rest}}
                        <button class="newsletter__rodo__button">{{newsletter_rodo_button}}</button>
                    </div>
                </div>
            </div>
        </div>
            <button class="newsletter__button">{{newsletter_button_label}}</button>
        <button class="newsletter__placeholder">{{newsletter_label}}</button>
    </div>
</div>