$animation-loop-duration: 4s;
@keyframes loader {
    0% {
        transform: scale(20%);
    }
    50% {
        transform: scale(100%);
    }
    100% {
        transform: scale(20%);
    }
}
.audio-player {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-vivid-dark;
    &__button {
        position: relative;
        width: 100%;
        height: calc(100% - 68px);
        cursor: pointer;
        background: transparent;
        border: 0;
        color: inherit;
        &>div {
            @include button-secondary-light-no-hover;
            border-radius: $gallery-buttons-border-radius;
            position: absolute;
            left: calc( 50% - $global-unit );
            top: calc( 50% - $global-unit );
            width: 2 * $global-unit;
            height: 2 * $global-unit;
            display: none;
        }
        & >  &--loading {
            border: none;
            display: flex;
        }
        @include hover {
            &>div {
                @include button-secondary-light-hover(false);
            }
        }
        &--pause,
        &--play,
        &--loading {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                height: 25px;
                width: 25px;
            }
        }

        &--loading>div {
            position: absolute;
            left: calc( 50% - $global-unit );
            top: calc( 50% - $global-unit );
            width: 2 * $global-unit;
            height: 2 * $global-unit;
            animation-name: loader;
            animation-duration: $animation-loop-duration;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            display: flex;
            background-color: map-get(map-get($color,'button-typo'),'light');
            border-radius: 50%;
        }
        &--play {
            display: none;
            svg { 
                transform: translateX(10%);
            }

        }
        &--pause {
            display: none;
        }
    }
    &__bar {
        position: absolute;
        left: 18px;
        bottom: 28px;
        width: calc( 100% - 36px );
        height: 10px;
        border-radius: 5px;
        background: rgba($white,0.3);
        cursor: pointer;
        &--progress {
            width: 0%;
            height: 100%;
            min-width: 10px;
            border-radius: inherit;
            background: $white;
        }
    }
    &__time {
        @include text-caption;
        color: $white;
        position: absolute;
        left: 18px;
        bottom: 48px;
    }
    &__duration {
        @include text-caption;
        color: $white;
        position: absolute;
        right: 18px;
        bottom: 48px;
    }
}