.filters {
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: global-unit();
    @each $key,$val in map-get($filters-wrapper-padding,'desktop') {
        padding-#{$key}: $val;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: global-unit(0.5);
        width: 100%;
        border: {
            left: 1px solid currentColor;
        };
        @each $key,$val in map-get($filters-list-border,'desktop') {
            border-#{$key}: $val;
        }
        @include media-mobile {
            @each $key,$val in map-get($filters-list-border,'mobile') {
                border-#{$key}: $val;
            }
        }

        @each $key,$val in map-get($filters-list-padding,'desktop') {
            padding-#{$key}: $val;
        }
        @include media-mobile {
            @each $key,$val in map-get($filters-list-padding,'mobile') {
                padding-#{$key}: $val;
            }
        }
        &__label {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .filters__btn {
        @include button-filter($bg-type: light);
    }
}
.filter-item {
    &.hidden {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}