.data-consent-box {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: $data-consent-box-width;
    width: 100%;
    background-color: $color-neutral-dark;
    padding: map-get(map-get($consent-box-padding,'desktop'), 'padding');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // gap: $consent-box-gap;
    gap: map-get(map-get($consent-box-gap,'desktop'), 'gap');
    color: map-get(map-get($color,'main-typo'),'dark');
    z-index: 80;
    @include media-mobile { 
        max-width: unset;
        gap: map-get(map-get($consent-box-gap,'mobile'), 'gap');
        padding: map-get(map-get($consent-box-padding,'mobile'), 'padding');
    }
    &__heading {
        @include text-card-title;
    }
    &__content {
        @include text-caption;
        p {
            margin-bottom: global-unit();
        }
        @include media-mobile {
            @include wcag-aaa-column-width;
        }
    }
    .consent-info__after {
        margin-top: 1em;
        @include media-mobile {
            margin-top: map-get(map-get($consent-box-gap,'desktop'), 'gap');
        }
    }
    .privacy-policy-link {
        @include button-link-light;
    }
    &__form {
        display: none;
        &.form-enabled {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: global-unit(1);
            @include media-mobile {
                justify-content: flex-start;
            }
        }
        .cookies-category {
            accent-color: map-get(map-get($color,'button-vivid') , 'dark');
            &,
            &__label {
                cursor: pointer;
            }
        }
    }
    .data-consent-box__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: global-unit(1.333);
        flex-wrap: wrap;
        &__button {
            &.reject-button {
                @include button-secondary-light;
            }
            &.accept-button {
                @include button-primary-light;
            }
        }
        @include media-mobile {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}
/* CONSENTS EDITOR ON PRIVACY POLICY PAGE */ 
.cookies-settings-box {
    .save-settings-button {
        margin-top: global-unit(1);
        @include button-link;
    }
    .cookies-categories-form {
        .input-group {
            width: fit-content;
            margin-bottom: 0.2em;
            &:last-of-type {
                
            }
        }
        .cookies-category {
            &,
            &__label {
                cursor: pointer;
            }
        }
    }
}

@include element-on-bg($bg-type: 'light') {
    .cookies-categories-form {
        .cookies-category {
            accent-color: map-get(map-get($color,'button-vivid') , 'light');
        }
    }
}
@include element-on-bg($bg-type: 'dark') {
    .cookies-categories-form {
        .cookies-category {
            accent-color: map-get(map-get($color,'button-vivid') , 'dark');
        }
    }
}