.site-footer {
    $footer-bg-color-type: map-get(map-get($palette, 'footer'), 'lightness');
    &__inner {
        @include main-grid;
        justify-content: space-between;
        align-items: start;
        position: relative;
        height: auto;
        padding-top: global-unit(2);
        padding-bottom: global-unit(2);
        @include media-wide-screen {
            margin: 0 auto;
        }
    }
    &__top {
        background: map-get(map-get($palette, 'footer'), 'color');
        &__inner {
            @include main-grid;
            padding: global-unit(2) 0;

        }
    }
    &__logo {
        grid-column: 1 / span 3;
        padding-bottom: global-unit(4);
        .svg-icon--use {
            transition: color $hover-transition-duration;
        }
        & a {
            width: 106px;
            height: 60px;
            &:focus {
                .svg-icon--use {
                    color: map-get(map-get($color,'button-vivid'), $footer-bg-color-type);
                }
            }
        }
        @include media-mobile {
            grid-column: span 4;
            padding-bottom: global-unit(2);
        }
        
    }
    &__menu {
        @include text-microcopy;
        grid-column: 2 / span 6;
        columns: 2;
        column-gap: global-unit(1);
        &.cols-1 {
            columns: 1;
        }
        &.cols-2 {
            columns: 2;
        }
        &.cols-3 {
            columns: 3;
        }
        .menu-link-wrapper {
            display: block;
        }
        @include media-mobile {
            columns: 1;
            grid-column: 1 / span 4;
            padding-bottom: global-unit();
        }
        & .menu-item {
            transition-property: -webkit-text-stroke, text-stroke, color;
            transition-duration: $hover-transition-duration;
            @if(map-get($footer-menu-link-hover-type, 'with-stroke') == true) {
                @include text-stroke-with-hover;
            }
            @if(map-get($footer-menu-link-hover-type, 'with-color') == true) {
                @if($footer-bg-color-type == 'dark') {
                    @include button-link-light;
                }
                @else {
                    @include button-link-dark;
                }
            }
            padding: 0;
            width: fit-content;
            margin-bottom: global-unit();
        }
    }
    & .social_media_links {
        grid-column: 1 / span 1;
        display: flex;
        flex-direction: column;
        gap: global-unit(0.75);
        @include media-mobile {
            grid-column: span 4;
            flex-direction: row;
            margin-bottom: global-unit(1.5);
        }
        &__link {
            @include hover{
                color: map-get(map-get($color,'button-vivid'), $footer-bg-color-type);
            }
        }
        & svg {
            $icon-size: global-unit(1); 
            height:$icon-size;
            width: $icon-size;
            &.icon-facebook {
                width: global-unit(0.53);
            }
            &.icon-youtube {
                width:global-unit(1.25);
            }
            &.icon-soundcloud {
                width: global-unit(1.25);
            }
            @include media-mobile {
                $icon-size: global-unit(2); 
                height:$icon-size;
                width: $icon-size;
                &.icon-facebook {
                    width: global-unit(2);
                }
                &.icon-youtube {
                    width:global-unit(2);
                }
                &.icon-soundcloud {
                    width: global-unit(2);
                }
            }
        }
        .svg-icon--use {
            &,
            path {
                transition-property: color;
                transition-duration: $hover-transition-duration;
            }
        }
    }
    &__bottom {
        background-color: $footer-background-color;
        &__inner {
            @include main-grid-margins;
            padding-bottom: global-unit(2);
        }
    }
    &__gov {
        display: flex;
        column-gap: 11.25vw;
        padding-top: global-unit(2);
        padding-bottom: global-unit(3);
        align-items: center;
        & svg {
            flex-shrink: 1;
        }
        @include media-mobile {
            flex-direction: column;
            gap: global-unit(3.5);
            align-items: center;
            padding: global-unit(3.5);
        }
    }
    & .developer-info {
        text-align: right;
        &__link {
            @if(map-get(map-get($palette, 'footer'), 'lightness') == 'dark') {
                @include button-link-dark;
            }
            @else {
                @include button-link-light;
            }
        }
    }
}

@include element-on-bg( $bg-type: map-get(map-get($palette, 'footer'), 'lightness'), $parent: "", $current: '.site-footer');