.site-footer {
    $footer-bg-color-type: map-get(map-get($palette, 'footer'), 'lightness');
    &__top {
        background: map-get(map-get($palette, 'footer'), 'color');
    }
    & .developer-info {
        text-align: right;
        &__link {
            @if(map-get(map-get($palette, 'footer'), 'lightness') == 'dark') {
                @include button-link-dark;
            }
            @else {
                @include button-link-light;
            }
        }
    }
}

@include element-on-bg( $bg-type: map-get(map-get($palette, 'footer'), 'lightness'), $parent: "", $current: '.site-footer');