.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    @if map-has-key($site-header-height,'desktop') {
        height: map-get($site-header-height,'desktop');
    }
    @if map-has-key($site-header-padding,'desktop') {
        @each $key,$val in map-get($site-header-padding,'desktop') {
            padding-#{$key}: $val;
        }
    }
    overflow: hidden;
    z-index: $menu-popup-z-index;
    background-color: inherit;
    @include media-mobile {
        @if map-has-key($site-header-height,'mobile') {
            height: map-get($site-header-height,'mobile');
        }
        @if map-has-key($site-header-padding,'mobile') {
            @each $key,$val in map-get($site-header-padding,'mobile') {
                padding-#{$key}: $val;
            }
        }
    }
    &__logo-wrapper {
        &,
        .logo-link {
            line-height: 0;
        }
        .svg-icon {
            height: $site-header-logo-default-height;
            transition: all $hover-transition-duration;
            svg {
                height: fit-content;
                fill: currentColor;
            }
        }
        svg {  
            height: $site-header-logo-default-height;
            transition: all $hover-transition-duration;
            fill: currentColor;
        }
        @include media-mobile {
            .svg-icon,
            svg {
                height: $site-header-logo-default-height-mobile;
            }
        }
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @if map-has-key($site-header-gap,'desktop') {
            gap: map-get($site-header-gap,'desktop');
        }
        @include media-mobile {
            @if map-has-key($site-header-gap,'mobile') {
                gap: map-get($site-header-gap,'mobile');
            }
        }
        @include media-wide-screen {
            margin: 0 auto;
        }
    }
    &__navigation {
        @include text-microcopy;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @if map-has-key($site-header-menu-gap,'desktop') {
            gap: map-get($site-header-menu-gap,'desktop');
        }
        width: 100%;
        @include media-mobile {
            display: none;
        }
        & > * {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        & .language-switcher {
            z-index: 110;
        }

        & .menu-link {
            transition: color $hover-transition-duration;
        }
    }
    &__menu {
        display: flex;
        @if map-has-key($site-header-menu-gap,'desktop') {
            gap: map-get($site-header-menu-gap,'desktop');
        }
        & .menu-item {
            @if map-has-key($site-header-item-padding,'desktop') {
                @each $key,$val in map-get($site-header-item-padding,'desktop') {
                    padding-#{$key}: $val;
                }
            }
            @include media-mobile {
                @if map-has-key($site-header-item-padding,'mobile') {
                    @each $key,$val in map-get($site-header-item-padding,'mobile') {
                        padding-#{$key}: $val;
                    }
                }
            }
        }
        @if(map-get($header-menu-link-hover-type, 'with-stroke') == true) {
            .menu-link {
                @include link-with-stroke;
            }
        }
    }
}
@if(map-get($logo-link-hover-type, 'with-color') == true) {
    @include hover-on-bg('body','.logo-link');
}
@if(map-get($header-menu-link-hover-type, 'with-color') == true) {
    @include hover-on-bg('body','.site-header__menu .menu-link');
}
