.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-top: var(--site-header-height);
    &.with-bg-picture {
        min-height: 40vw;
        color: map-get(map-get($color,'main-typo'),'dark');
    }
    &__texts {
        padding: global-unit(4) 0;
        @include main-grid;  
        grid-column: 1 / -1;
        grid-template-rows: auto 1fr;
        gap: global-unit(1);
        &:not(:last-child) {
            padding-bottom: global-unit(2);
        }
        @include media-mobile {
            margin: 0;
            padding: global-unit(2);
            width: 100%;
            height: auto;
        }
    }
    &__image {
        @include main-grid;
        gap: global-unit(1);
        padding-bottom: global-unit(2);
        img {
            grid-column: 1 / span 6;
            width: 100%;
            height: auto;
            
        }
        @include media-mobile {
            padding-bottom: global-unit(2);
            img {
                grid-column: 1 / -1;
            }
        }
    }
    &__title {
        @include text-page-title;
        grid-column: 1 / span 10;
        @include media-mobile {
            grid-column: 1 / -1;
        }
    }
    &__lead {
        @include text-lead;
        grid-column: 1 / span 8;
        @include media-mobile {
            grid-column: 1 / -1;
        }
    }
    
    .hero__background {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
    }
}