.language-switcher {
    transition: color $hover-transition-duration;
    @include media-mobile {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        body.menu-opened & {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            z-index: $menu-popup-z-index + 10;
        }
    }
}
@include hover-on-bg('body','.language-switcher__link');