.main-container {
    overflow-x: hidden;
    @if map-has-key($main-container-padding,'desktop') {
        @each $key,$val in map-get($main-container-padding,'desktop') {
            padding-#{$key}: $val;
        }
    }
    @include media-mobile {
        @if map-has-key($main-container-padding,'mobile') {
            @each $key,$val in map-get($main-container-padding,'mobile') {
                padding-#{$key}: $val;
            }
        }
    }
}
