
.site-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: $menu-opened-background;
    // color: $menu-opened-color;
    &__inner {
        width: 100%;
        padding: {
            top: map-get($site-header-height,'desktop');
            left: global-unit(2);
            right: global-unit(2);
        } 
        flex-grow: 1;
        overflow: auto;
        // padding: global-unit();
        @include media-mobile {
            padding: {
                left: global-unit(2);
                right: global-unit(2);
                bottom: global-unit(4);
            }
            overflow: hidden;
        }
    }
    &__footer {
        width: 100%;
        height: global-unit(3);
        padding: global-unit(2);
        display: flex;
        align-items: flex-end;
        @include media-mobile {
            flex-direction: column;
            height: auto;
        }
        .social_media_links {
            flex-grow: 1;
            display: flex;
            gap: 0.75 * $global-unit;
            &__link {
                @include link('.site-menu');
                line-height: 0;
                span {
                    line-height: 0; 
                }
            }
            svg {
                height: $global-unit;
                width: $global-unit;
                &.icon-facebook {
                    width: 1.06 * $global-unit;
                }
                &.icon-youtube {
                    width: 1.25 * $global-unit;
                }
            }
            .svg-icon--use {
                &,
                path {
                    transition-property: fill;
                    transition-duration: $hover-transition-duration;
                }
            }
        }
        &__madeby {
            @include text-microcopy;
            @include link('.site-menu');
            @include media-mobile {
                margin-top: $global-unit;
            }
        }
    }

    body.menu-opened & {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
body.menu-opened {
    @include link('.site-menu', '.menu-link');
}
.main-menu {
    @include text-menu;
    height: 100%;
    @include media-mobile {
        overflow: auto;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        gap:  global-unit(1) global-unit(2);
        height: 100%;
        @include media-mobile {
            flex-wrap: nowrap;
            height: auto;
        }
        .sub-menu-list {
            padding-left: global-unit(0.5);
            margin-top: global-unit(0.75);
            .menu-item {
                margin-bottom: global-unit(0.5);
            }
            @include media-mobile {
                padding-left: global-unit(1);
            }
        }
        .menu-item--home {
            width: 100%;
            flex-basis: 100%;
        }
        .menu-item-box {
            width: fit-content;
            flex-basis: fit-content;
            grid-column: span 4;
            .sub-menu-list {
                @include text-submenu;
            }
        }
        .menu-link {
            display: inline-block;
            &.current-menu-item {
                border-bottom: 1px solid currentColor;
            }
        }
    }
}
