@use "sass:math";
.menu-toggle_button {
    display: block;
    width: $menu-toggle-button-width;
    height: $menu-toggle-button-height;
    align-self: center;
    z-index: $menu-popup-z-index + 10;
    background-color:transparent;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    color: inherit;
    transition: color $hover-transition-duration;
    .burger-line {
        color: currentColor;
        width: $menu-burger-width;
        height: $menu-burger-line-height;
        background-color: currentColor;
        position: absolute;
        left: calc(50% - #{math.div($menu-burger-width, 2)});
        top: calc(50% - #{math.div($menu-burger-line-height, 2)});
        transition: transform $hover-transition-duration;
        opacity: 1;
        pointer-events: none;
        &:nth-child(1) {
            transform: rotate(0) translateY(-1 * ($menu-burger-height * 0.5 - 0.5 * $menu-burger-line-height));
        }
        &:nth-child(2) {
            transition-property: opacity, transform;
            transition-duration: $menu-burger-transition-duration;
            transform: scale(1);
        }
        &:nth-child(3) {
            transform: rotate(0) translateY(1 * ($menu-burger-height * 0.5 - 0.5 * $menu-burger-line-height));
        }
    }

    body.menu-opened & {
        & {
            @include link('.site-menu');
        }
        .burger-line {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(0);
            }
            &:nth-child(2) {
                top: calc(50% - #{math.div($menu-burger-line-height, 2)});
            }
            &:nth-child(2) {
                opacity: 0;
                transform: scale(0);
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(0);
            }
        }
    }
}
@include hover-on-bg('body:not(.menu-opened)','.menu-toggle_button');

body.menu-opened {
    & .menu-toggle_button {
        
        $menu-bg-type: map-get(map-get($palette, 'menu'), 'lightness');
        @if( $menu-bg-type == 'dark') {
            color: map-get(map-get($color,'button-neutral'),'dark');
            @include hover(){
                color: map-get(map-get($color,'button-vivid'),'dark');
            }
        }
        @if( $menu-bg-type == 'light') {
            color: map-get(map-get($color,'button-neutral'),'light');
            @include hover(){
                color: map-get(map-get($color,'button-vivid'),'light');
            }
        }
    }
}





// @if(map-get(map-get($palette, 'menu'), 'lightness')
