.page-section {
    display: grid;
    @if map-has-key($page-section-gap,'desktop') {
        row-gap: map-get($page-section-gap,'desktop');
    }
    @if map-has-key($page-section-padding,'desktop') {
        @each $key,$val in map-get($page-section-padding,'desktop') {
            padding-#{$key}: $val;
        }
    }
    @include media-mobile {
        @if map-has-key($page-section-gap,'mobile') {
            row-gap: map-get($page-section-gap,'mobile');
        }
        @if map-has-key($page-section-padding,'mobile') {
            @each $key,$val in map-get($page-section-padding,'mobile') {
                padding-#{$key}: $val;
            }
        }
    }
    &__header {
        @include main-grid;
        @include text-section-title;
        @if map-has-key($page-section-header-padding,'desktop') {
            @each $key,$val in map-get($page-section-header-padding,'desktop') {
                padding-#{$key}: $val;
            }
        }
        @include media-mobile {
            @if map-has-key($page-section-header-padding,'mobile') {
                @each $key,$val in map-get($page-section-header-padding,'mobile') {
                    padding-#{$key}: $val;
                }
            }
        }
        & .section-header__inner {
            @if map-has-key($page-section-header-grid-column,'desktop') {
                grid-column: map-get($page-section-header-grid-column,'desktop');
            }
            @include media-mobile {
                @if map-has-key($page-section-header-grid-column,'mobile') {
                    grid-column: map-get($page-section-header-grid-column,'mobile');
                }
            }
        }
    }
}