@use 'sass:map';
body {
    overflow-y: hidden;
}
$preloader-intro-duration: 0.5s;
$preloader-loop-duration: 0.5s;
$preloader-outro-duration: 0.5s;
@keyframes preloader-intro {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(-180deg) scale(0);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
    }
}
@keyframes preloader-loop {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg) scale(1);
    }
}
@keyframes preloader-outro {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(180deg) scale(0);
    }
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: $menu-popup-z-index + 20;
    &__curtain {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: map.get(map.get($color, box-bg), dark);
        opacity: 1;
        transition-property: opacity;
        transition-duration: $preloader-outro-duration;
        &--outro {
            opacity: 0;
        }
    }
    &__animation {
        position: absolute;
        left: 50%;
        top: 50%;
        width: global-unit();
        height: global-unit();
        background-color: map.get(map.get($color, box-bg), light);
        transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
        &--intro {
            animation-duration: $preloader-intro-duration;
            animation-name: preloader-intro;
            animation-iteration-count: 1;
            animation-fill-mode: forward;
        }
        &--loop {
            animation-duration: $preloader-loop-duration;
            animation-name: preloader-loop;
            animation-iteration-count: infinite;
            animation-fill-mode: forward;
        }
        &--outro {
            animation-duration: $preloader-outro-duration;
            animation-name: preloader-outro;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
    }
    &--finished {
        display: none;
    }
}