.skip-link {
    &, 
    &.button {
        @include screenReaderOnly;
        @include button-base;
        opacity:0;
        z-index: -1;//500;
        transition: none;
        &:focus {
            position: fixed;
            top: global-unit(4);
            left: global-unit(4);
            z-index: 1001;
            pointer-events: all;
            opacity: 1;
            @include button-primary-dark-no-hover;
        }
    }
}
