{% macro LinkButton(label = "", href = "", classes = "", newTab = false) %}
    {% if href is not empty  %}
        <a href="{{href}}" class="button {{classes}}" {% if newTab  %} target="_blank" {% endif %}>{{label}}</a>
    {% else %}
        <div class="button {{classes}}" >{{label}}</div>
    {% endif %}
{% endmacro %}