{% macro Image(image_id, context = false, classes = '', imageSrc='', titleAttr = '', altAttr = '', lazy = true, imageSize = 'medium', useAspectRatioPadding = false) %}
    {% if context.modules_enabled['lazy-loading'] is empty %}
        {% set lazy = false %}
    {% endif %}

    {% set imgPlaceholder = 'data:image/gif;base64,R0lGODlhAQABAAAAACw=' %}
    {% set classes = classes ? classes : '' %}
    {% if not imageSrc %}
        {% set image = Image(image_id).src(imageSize) %}
        {% if not altAttr %}
            {% set altAttr = image.alt is defined and image.alt is not empty ? image.alt : '' %}
        {% endif %}
        {% if not titleAttr %}
            {% set titleAttr = image.title is defined and image.title is not empty ? image.title : 'title=""' %}
        {% endif %}
        {% set imageSrc = image is defined and image is not empty ? image : "" %}
    {% endif %}
    {% set altAttr = altAttr ? ' alt="' ~ altAttr ~ '"': '' %}
    {% set titleAttr = titleAttr ? ' title="' ~ titleAttr ~ '"': '' %}

    <figure class="{{classes}}
        {% if lazy %} img-container {% endif %}"
        {% if useAspectRatioPadding and Image(imageSrc).aspect > 0 %}
            {% set imageAspectRatio = (100 / Image(imageSrc).aspect)|round(2, 'floor') %}
            style="padding-top:{{imageAspectRatio}}%"
        {% endif %}
    >
        <img 
            class="{% if lazy %} lazy-img {% endif %}" 
            {% if lazy %} data-lazy-loading-src="{{imageSrc}}" src="{{imgPlaceholder}}"
            {% else %} src="{{imageSrc}}" {% endif %}  
            {{altAttr}}
            {{titleAttr}}
             width="{{Image(imageSrc).width}}" height="{{Image(imageSrc).height}}"
            />
    </figure>
{% endmacro %}