{% macro menuMacro(menuObject, class = '') %}
    <nav class="menu {{class}}">
        <ul class="menu__list">
            {% for item in menuObject.items %}
            {% set relAttr = item.xfn is defined and item.xfn is not empty ? 'rel="' ~ item.xfn ~ '"' : "" %}
            {% set targetAttr = item.target is defined and item.target is not empty ? 'target="' ~ item.target ~ '"' : "" %}
            {% set defaultClasses = item.class is defined ? item.class : "" %}
            <li class="menu__item {{defaultClasses}} {{classes|join(' ')}}">
                <a class="menu__link {% if class %}{{class}}__link {% endif %}" href="{{ item.link }}" {{relAttr}} {{targetAttr}}>{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}