{% macro svgIcon(url, iconId, linkUrl = false, linkLabel = "", viewBox='' ,iconsFileName = 'svg-icons.svg') %}
    <div class="icon {{iconId|lower}}">
        {% if linkUrl is not empty %}
        {% set label = linkLabel is not empty ? linkLabel : "" %}
            <a href="{{linkUrl}}" class="icon icon-link {{iconId|lower}}" target="_blank" rel="nofollow" aria-label="{{label}}">
        {% else %}
            <div class="icon {{iconId|lower}}">
        {% endif %}
        <span aria-hidden="true">
            <svg class="svg-icon" viewBox="{{viewBox}}">
                <use class="svg-icon--use" xlink:href="{{url}}/{{iconsFileName}}#{{iconId}}" />
            </svg>
        </span>
        {% if linkUrl is not empty %}
            </a>
        {% else %}
            </div>
        {% endif %}
    </div>
{% endmacro %}}