    {% set menuItems = menu_footer.get_items %}
    {% set cols = menuItems|length > 4 * 2 ? 3 : menuItems|length <= 4 ? 1 : 2 %}
    <nav class="site-footer__menu cols-{{cols}}" aria-label="{{__('Menu in footer', backend_base_text_domain)}}">
        {% for item in menuItems %}
            <span class="menu-link-wrapper">
                {% include "_partials/components/parts/menu_item.twig"  with {item: item, class: class}%}
            </span>
        {% endfor %}
    </nav>