<div class="site-header__navigation">
    {% include "_partials/components/parts/header_menu.twig" %}
    {% include "_partials/components/parts/language_switcher.twig" %}
</div>
<div class="site-header__burger">
    {% include "_partials/components/parts/menu_burger.twig" %}
</div>
{% include "_partials/components/parts/menu.twig" %}