{% import "_macros/svg-icon-macro.twig" as ICON %}
<div class="site-header__logo-wrapper">
    {% set logoLinkLabel = site.name %}
    <a href="{{homeUrl}}" class="logo-link" rel="nofollow" aria-label="{{logoLinkLabel}}">
        {# w projekcie powinno podpiąć się ikonę logotypu z katalogu svg-icons według poniższego przykładu #}
        {# {{ICON.svgIcon(svg_icons_dir , 'main-logo-placeholder', '', '', '0 0 100 51')}}  #}
        {% include "_partials/svg/main-logo-placeholder.svg" %}
    </a>
</div>