{% set currentLanguageClass = 'current-language' %}
{% set languages = getActiveLanguages() %}
{% if languages %}
    <div class="language-switcher">
            <ul class="language-switcher__languages" tabindex="0"  aria-label="{{__('Languages list', backend_base_text_domain)}}">
                {% for lang in languages %}
                    {% if lang.active != true %}
                        <li class="language-switcher__item {{ lang.active ? currentLanguageClass : '' }}">
                            <a href="{{ lang.url|e('esc_url') }}" class="language-switcher__link" aria-label="{{lang.code|getLanguageAriaLabel}}" 
                            hreflang="{{lang.code}}" lang="{{lang.code}}" title="{{lang.code|getLanguageAriaLabel}}" rel="alternate" role="button">
                                <span >{{lang.code}}</span>
                            </a>
                            {# <a href="{{ lang.url|e('esc_url') }}" class="language-switcher__link" 
                            hreflang="{{lang.code}}" lang="{{lang.code}}" rel="alternate" role="button">
                                <span >{{lang.code}}</span>
                            </a> #}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
{% endif %}