<div class="site-menu bg-menu">
    <div class="site-menu__inner">
        {% include "_partials/components/parts/menu_inner.twig" %}
    </div>
    <div class="site-menu__footer">
        {% include "_partials/components/parts/social_media_links.twig"%}
        <a href="https://superskrypt.pl" class="site-menu__footer__madeby">Made by Superskrypt</a>
    </div>
</div>