{% if 'menu-item--no-link' in item.classes %}
<div class="{{item.classes|join(' ')}}" tabindex="0">
    {{item.title}}
</div>
{% else %}
<a 
    class="menu-link {{item.classes|join(' ')}}" 
    href="{{item.link}}" 
    {% if item.xfn %}rel="{{item.xfn}}" {% endif %}
    {% if item.target %}target="_blank" {% endif %}
    {% if item.attr_title %}title="{{item.attr_title}}" {% endif %}
    >
    {{item.title}}
</a>
{% endif %}