<li class="menu-item-box">
        {% include "_partials/components/parts/menu_item.twig"  with {item: item, class: class}%}
        {% if item.children %}
            <ul class="sub-menu-list">
                {% for child in item.children %}
                    <li class="sub-menu-item">
                        {% include "_partials/components/parts/menu_item.twig" with { item: child, class: "sub-menu-link small-menu-element" } %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</li>
