<nav class="main-menu" > 
    <ul class="menu-list ">
        {% if menu_home_link_label is defined and menu_home_link_label is not empty %}
            <li class="menu-item-box menu-item--home">
                <a href="{{site.url}}" class="menu-link {% if site.url == current_url %} current-menu-item {% endif %} ">{{menu_home_link_label}}</a>
            </li>
        {% endif %}
        {% for item in menu_main.get_items %}
            {% include "_partials/components/parts/menu_item_box.twig" with { class: ''} %}
        {% endfor %}
    </ul>
</nav>
