<button class="menu-toggle_button" aria-label="{{menu_opened_label}}" aria-expanded="false" data-open-state-label="{{menu_opened_label}}" data-close-state-label="{{menu_closed_label}}">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
</button>