{% if social_media_links is defined and social_media_links is not empty %}
    <ul class="social_media_links">
        {% for item in social_media_links %}
            {% set type = item._type %}
            {% set url = item[type  ~ '_link'] %}
            {% set label = item[type  ~ '_label'] %}

            {% if url is not empty  %}
                <li class="social_media_links__list__item">
                    <a href="{{url}}" class="social_media_links__link" target="_blank" rel="nofollow" aria-label="{{label}}">
                    <span aria-hidden="true">
                        <svg class="svg-icon icon-{{type}}">
                            <use class="svg-icon--use" xlink:href="{{social_media_icons_path}}#icon-{{type}}" />
                        </svg>
                    </span>
                </a>
                </li>
            {% endif %}
    {% endfor %}
    </ul>
{% endif %}
